/* ============================================================

Wirefy by Chris Da Sie
Version: 1.2.4
URL: https://github.com/cjdsie/wirefy
Apache License: v2.0. http://www.apache.org/licenses/LICENSE-2.0

/* Variables =================================================== */
/* Mixins =================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}

/* Page =================================================== */


html {
  background: #ffffff;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #000000;
}


/* Documentation Styles
================================================== */
	.container {
		margin:0 auto;
		padding:0 auto;
		max-width: 1200px;
		width: 80%;
		padding-top: 20px; }
		
		.sidebar {
			width: 100%;
			float:none; }
			
			.content {
				position:relative;
				width:100%;
				float:none;
				overflow:hidden;
			}

	/* Doc nav */
	nav {
		float:none;
		width: 60%;
		margin-top: 0px; }
	nav select{display:block;}	
	#logo {
		float:left;
		width: 30%;
		margin:0px;
		margin-bottom: 20px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		letter-spacing: -1px;
		font-weight: bold; }
	nav ul {
		float: left;
		margin:0;
		padding:0px;
		display:none;  }
	nav ul li {
		display: block;
		margin-bottom: 10px; }
	nav ul li a,
	nav ul li a:visited,
	nav ul li a:active  {
		font-size: 14px;
		color: #555;
		text-decoration: none;
		font-weight: bold; }
	nav ul li a:hover,
	nav ul li a:focus {
		color: #222; }
	header h1 {
		letter-spacing: -1px;
		font-weight: normal;
		font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif; }
	hr.large {
		border: none;
		height: 8px;
		background: #ebebeb;
		margin: 50px 0; }
	div.doc-section {
		margin: 30px 0;
		height:auto; }

	#whatAndWhy .row {
		padding: 30px 0 0; }

	#typography blockquote {
		margin-top: 20px; }
		
	.hidden-code {
		margin: 2em 0;
	}	

	.hidden-code p {
		font-size: 12px;
		color: #999; }
	.hidden-code>div {
		display: none; }
		
		.bsarocks, #bsap_aplink, .bsap {
		display:none;
		}


	/* Grid */
	#grid .column,
	#grid .columns {
		background: #ddd;
		height: 25px;
		line-height: 25px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		color: #555;
		font-size: 12px;
		font-weight: bold;
		-moz-border-radius: 2px;
		 -webkit-border-radius: 2px;
		 border-radius: 2px; }
	#grid .column:hover,
	#grid .columns:hover {
		background: #bbb;
		color: #333; }
	#grid .example-grid {overflow: hidden; }

	.post-button-note,
	.post-button-note a {
		font-size: 11px;
		color: #999; }

	#examples .four.columns a {
		text-decoration: none;
	}
	#examples .four.columns a:hover {
		text-decoration: underline;
	}

	.gist-meta { display: none !important;}

	ul ul ul li { margin-bottom: 3px; }

	.twitter-share-button { margin-bottom: -18px; }
	
	/* contentinfo =================================================== */
	[role="contentinfo"] {
	  padding: 1.5em 0;
	  border-top: 3px solid #c7ced6;
	}
	[role="contentinfo"] small {
	  display: block;
	  margin: 0 auto 1.5em;
	  width: 90%;
	}
	
	pre, code {
	font-family: monospace, monospace;
	}
	
	
	pre {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border:2px solid rgba(0, 0, 0, .1);
	text-shadow: none;
	width: auto;
	background: #FFFFF7;
	padding: 20px;
	margin: 0px 0px;
	_padding: 0;
	font-size: 14px;
	font-size: .875em;
	font-size:1.4rem;
	color: #333;
	_float: left;
	_width: 100%;
	white-space: pre-wrap;
	overflow-x: scroll;
	}
	
	pre::-webkit-scrollbar {
	-webkit-appearance: none;
	background-color: rgba(255, 255, 255, .1);
	width: 8px;
	height: 8px;
	}
	
	pre::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(255, 255, 255, .5);
	}
	

	
	
	
	@media only screen and (min-width: 30em) {
	  /* 480 =================================================== */

	}
	
	@media only screen and (min-width: 40em) {
	  /* 640 =================================================== */
	.container {
		padding-top: 40px; }
		
		.sidebar {
			position: fixed;
			width: 18%;
			float:left;
			overflow:hidden }
			
			
			.content {
				float:right;
				width:75%;
				margin:0 auto;
				padding:0 auto;
			}
			
				nav {
					float:none;
					width: 100%;
					margin-top: 10px; }
			
		nav select {
			display:none;
		}
		nav ul {
			display:block;
			margin-bottom: 10px;
		}
		#logo {
			float:right;
			width: 100%;
			}
			
			/* Ad Block 
			=================================================== */
				.bsarocks, .bsap{display:block;}
				body .bsap .one {width:100%;}
				body .bsap .one .bsa_it_ad { background: transparent; border: none; font-family: inherit; width:100%; float:left; padding: 0 15px 0 0px; margin: 0; text-align: left; }
				body .bsap .one .bsa_it_ad:hover img { -moz-box-shadow: 0 0 3px #000; -webkit-box-shadow: 0 0 3px #000; box-shadow: 0 0 3px #000; }
				body .bsap .one .bsa_it_ad .bsa_it_i { display: block; padding: 0; float: left; margin: 0 5px 5px 0px; }
				body .bsap .one .bsa_it_ad .bsa_it_i img { padding: 0; border: none; }
				body .bsap .one .bsa_it_ad .bsa_it_t { padding: 0px 0 6px; }
				body .bsap .one .bsa_it_ad .bsa_it_d { padding: 0; font-size: 12px; color: #333; }
				body .bsap .one .bsa_it_p { display: none; }
				body #bsap_aplink, body #bsap_aplink:hover { display: block; font-size: 10px; margin: 12px 15px 0 0; text-align: left; }
			
		
	}
	@media only screen and (min-width: 45em) {
	  /* 720 =================================================== */
	  body {
	    display: table;
	    border-collapse: collapse;
	  }
	  [role="banner"] a[href="#navigation"] {
	    display: none !important;
	    visibility: hidden;
	  }
	  [role="navigation"] {
	    display: table-header-group;
	  }
	  [role="navigation"] p {
	    margin: 0 auto;
	    width: 90%;
	  }
	}
	
	@media screen and (min-width: 55.5em) {
		/* 888 =================================================== */
	}
	
	@media only screen and (min-width: 61.5em) {
	  /* 984 =================================================== */
	}
	
	@media only screen and (min-width: 75em) {
	  /* 1200 =================================================== */
	}
	
	@media only screen and (min-width: 87em) {
	  /* 1392 =================================================== */
	}
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
	  /* 2x =================================================== */
	}

