
/* HTML Elements
================================================== */
/* apply a natural box layout model to all elements */

/* HTML & Body
--------------------------------------------------*/

*{
  @include border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $body-bg; 
  height: 100%;
  font-size: $base-font-size;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: $magnolia;
  @include vendorize(text-size-adjust, $base-font-size);
}

body {
  background-color: transparent url('#{$imagePath}/tmp/grid.png');
  font-size: em($basefont);
  line-height: (27 / $basefont);
  color: $body-font-color;
  -webkit-font-smoothing: $font-smoothing;
  /* Fix for webkit rendering */
  @include vendorize(text-size-adjust, $base-font-size);
}


h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
  margin-bottom: $spacing;
}

/* Containers
--------------------------------------------------*/

.container {
  @include center-block;
  width: 100%; 
  max-width: $total-width; 
  padding: 0;
}

.content {
  position: relative;
  width: 100%;
}


// declare non-grid-related styles for your elements ============================================= /
section div {
  padding: ($base-unit * 3) 0;
}

.hero {
  height: $vertical-measure * 10;
  background-color: $black-60;
}


/* Horizontal Rules
--------------------------------------------------*/

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: .625em 0 1.875em;
  height: 0;
}

/* Links
--------------------------------------------------*/

a {
  color: $black-70;
  text-decoration: none;
  outline: 0;
  &:visited {
    color: $black-70;
    text-decoration: underline;
    outline: 0;
  }
  @include hoverActiveFocus(color, $link-color-hover);
}


/* Images
--------------------------------------------------*/

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

/* -- FIGURES -- */

figure {
  margin-bottom: ($base-unit * 6);
  img {
    margin-bottom: ($base-unit * 2);
  }
  figcaption {
    display: block;
    font-weight: normal;
    font-size: em(14);
    color: #808080;
  }
}

/* -- VIDEOS & OTHER MEDIA -- */

video{
	width:100%;
	}
.vendor{
	padding:2%;
	background: #d1eed1;
	margin-bottom:2em;
	}
.unsupported {
	background:#fddfde;
}

/* Lists
--------------------------------------------------*/

ul, ol {
  margin-bottom: ($base-unit * 3);
}

ul {
  list-style: none outside;
}

ol {
  list-style: decimal;
  margin-left: ($base-unit * 3);
}

ul {
  &.square, &.circle, &.disc {
    margin-left: ($base-unit * 3);
  }
  &.square {
    list-style: square outside;
  }
  &.circle {
    list-style: circle outside;
  }
  &.disc {
    list-style: disc outside;
  }
  ul, ol {
    margin: $base-unit 0 $base-unit ($base-unit * 3);
    font-size: 90%;
  }
}

ol {
  ol, ul {
    margin: $base-unit 0 $base-unit ($base-unit * 3);
    font-size: 90%;
    li{

    }
  }
}

ul {
  ul li, ol li {
    margin-bottom: $base-unit;
  }
}

ol {
  ol li, ul li {
    margin-bottom: $base-unit;
  }
}

li {
  line-height: inherit;
  margin-bottom: ($base-unit * 2);
}

ul.large li, li p {
  line-height: inherit;
}

.list-bordered {
  list-style-type: none;
  margin: 0 0 ($base-unit * 3) 0;
  padding: 0;
  li {
    margin-bottom: $base-unit;
    padding-bottom: $base-unit;
    border-bottom: 1px dashed #c7ced6;
    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom-width: 0;
    }
  }
}	
