
	<!-- Begin MailChimp Signup Form -->
	<div id="mc_embed_signup">
	<form action="http://chrisdasie.us3.list-manage.com/subscribe/post?u=f277db1707b439013b5d53057&amp;id=ba54cd17e4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="newsletter-intro">
		  <h5>Stay on top of what's happening in UX design with our monthly newsletter.</h5>
			</div> 
	<div class="mc-field-group input-append">
		<input type="email" value="" name="EMAIL" placeholder="email@example.com" class="required email add-on" id="mce-EMAIL">
		<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn">
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_f277db1707b439013b5d53057_ba54cd17e4" value=""></div>
	</form>
	</div>

	<!--End mc_embed_signup-->
<footer role="contentinfo">
	<div class="container">
		<p><small>Copyright &#169; 2014 <a href="http://chrisdasie.com">Chris Da Sie</a>. Code covered by the <a rel="license" href="http://chrisdasie.mit-license.org/">MIT license</a>. Hosted by <a href="https://github.com/cjdsie/wirefy">GitHub</a>.</small></p>
	</div>
</footer><!--/@contentinfo-->