<!DOCTYPE html>

<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<html prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
		<meta name='description' content='{{page.description}}'>
		<link rel='author' content='/humans.txt' type='text/plain'>
	    
         <!-- Mobile Specific Metas
		================================================= -->
		 <meta name="HandheldFriendly" content="True">
		 <meta name="MobileOptimized" content="320">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <meta name='robots' content='index, follow'>
		 <meta property='og:title' content='{{ page.title }}'>
	     <meta property='og:type' content='website'>
	     <meta property='og:url' content='http://getwirefy.com'>
	     <meta property='og:image' content='//cdn.getwirefy.com/favicon/favicon-512.png'>
	     <meta name='twitter:card' content='summary'>
	     <meta name='twitter:site' content='http://getwirefy.com'>
	     <meta name='twitter:creator' content='@wirefy'>
	     <meta name='twitter:title' content='{{ page.title }}'>
	     <meta name='twitter:description' content='{{page.description}}'>
		 <link rel='apple-touch-icon' href="//cdn.getwirefy.com/favicon/favicon-128.png">
	     <link rel='icon' href='//cdn.getwirefy.com/favicon/favicon.png'>
	     <link rel='icon' href='//cdn.getwirefy.com/favicon/favicon-16.png', sizes='16x16'>
	     <link rel='icon' href='//cdn.getwirefy.com/favicon/favicon-32.png', sizes='32x32'>
	     <link rel='icon' href='//cdn.getwirefy.com/favicon/favicon-48.png', sizes='48x48'>
	     <link rel='icon' href='//cdn.getwirefy.com/favicon/favicon-128.png', sizes='128x128'>
	    <!--[if IE]>
	    	<link<rel='shortcut icon' href='//cdn.getwirefy.com/favicon/favicon.ico'>
	    <![endif]-->
	    <meta name='msapplication-TileColor' content='#222'>
	    <meta name='msapplication-TileImage' content='//cdn.getwirefy.com/favicon/favicon-128.png'>
		<script src='//use.typekit.net/dwa6adv.js'></script>
	  	<script> try{Typekit.load();}catch(e){}</script>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
		
		<!-- IcoMoon Font -->
        <link rel="stylesheet" href="http://i.icomoon.io/public/18970fcf57/Wirefy/style.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/wirefy.min.css">

 		<!-- Browser Specific Javascript
		================================================= -->
		 <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
		 <!--[if lt IE 9 & !IEMobile]>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
		  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		  <script>
		    document.createElement('header');
		    document.createElement('nav');
		    document.createElement('section');
		    document.createElement('article');
		    document.createElement('aside');
		    document.createElement('footer');
		    document.createElement('main');
		  </script>
		  <!<![endif]-->

		 <!-- Font Smoothing FF/Windows
		 ================================================== -->
		 <meta http-equiv="cleartype" content="on">

    </head>