<aside class="side-navigation">
  <header role="banner">
    <a href="/">
      <div class="brand-icon"></div>
    </a>

  </header>
	<a href="#nav" class="menu-toggle" id="toggle" aria-hidden="true"><h3>Menu</h3>
		<div class="patty"></div>
		</a>
  <nav role="navigation" class="nav-collapse">
    <ul class="nav" id="nav">
      <li> 
        <a href="/grid.html">
	      <span class="icon-insert-template"></span> 
          <span class="nav-label">Grid System</span>
        </a>
      </li>
      <li> 
        <a href="/typography.html">
	      <span class="icon-text-width"></span>  
          <span class="nav-label">Typography</span>
        </a>
      </li>
      <li>
	    <a href="/lists.html"> 
		  <span class="icon-list2"></span>
          <span class="nav-label">Lists</span>
        </a>
      </li>
      <li>
	    <a href="/ui-elements.html"> 
		  <span class="icon-cogs"></span>
          <span class="nav-label">UI Elements</span>
        </a> 
      </li>
      <li>
	    <a href="/forms.html">
		  <span class="icon-console"></span> 
          <span class="nav-label">Forms</span>
        </a>
      </li>
      <li>
	    <a href="/tables.html">
		  <span class="icon-table"></span>  
          <span class="nav-label">Tables</span>
        </a>
      </li>
      <li class="issues">
	    <a href="https://github.com/cjdsie/wirefy/issues?state=open">
		  <span class="nav-label">Submit an Issue</span>
		</a>
	  </li>
    </ul>
   </nav>
   <div class="social-media">
	<ul>
	<li class="twitter"><a href="https://twitter.com/wirefy">Twitter</a></li>
	<li class="github"><a href="https://github.com/cjdsie/wirefy">Github</a></li>
	</ul></div>
</aside>