
/* HTML Elements
================================================== */
/* apply a natural box layout model to all elements */

/* HTML & Body
--------------------------------------------------*/

* {
  @include border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $body-bg; 
  height: 100%;
  font-size: $base-font-size;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: $link-color;
  @include vendorize(text-size-adjust, $base-font-size);
}

body {
  width: 100%;
  background-color: transparent url('#{$imagePath}/tmp/grid.png');
  font-size: em($basefont);
  line-height: (27 / $basefont);
  color: $body-font-color;
  -webkit-font-smoothing: $font-smoothing;
  /* Fix for webkit rendering */
  @include vendorize(text-size-adjust, $base-font-size);
  @include clearfix();
}


h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin-bottom: $spacing;
}

/* Containers
--------------------------------------------------*/

.container {
  @include center-block;
  width: 100%; 
  max-width: $total-width; 
  padding: 0;
}

.content {
  position: relative;
  width: 100%;
}


