/* Color Palette
================================================== */
/* SASS Color Palettes by James Pearson - https://github.com/FearMediocrity/sass-color-palettes
*  Contact
*  -------------------------------------------------------
*  Email: james.pearson@thinkingincode.com
*/

$black: 		#000;
$navy-blue: 	#000080;
$dark-blue: 	#0000c8;
$blue: 			#0ff;
$stratos: 		#000741;
$swamp: 		#001b1c;
$resolution-blue: #002387;
$deep-fir: 		#002900;
$burnham: 		#002e20;
$international-klein-blue: #002fa7;
$prussian-blue: #003153;
$midnight-blue: #036;
$smalt: 		#039;
$deep-teal: 	#003532;
$cyprus: 		#003e40;
$kaitoke-green: #004620;
$cobalt: 		#0047ab;
$crusoe: 		#004816;
$sherpa-blue: 	#004950;
$endeavour: 	#0056a7;
$camarone: 		#00581a;
$science-blue: 	#06c;
$blue-ribbon: 	#06f;
$tropical-rain-forest: #00755e;
$allports: 		#0076a3;
$deep-cerulean: #007ba7;
$lochmara: 		#007ec7;
$azure-radiance: #007fff;
$teal: 			#008080;
$bondi-blue: 	#0095b6;
$pacific-blue: 	#009dc4;
$persian-green: #00a693;
$jade: 			#00a86b;
$caribbean-green: #0c9;
$robins-egg-blue: #0cc;
$green: 		#0f0;
$spring-green: 	#00ff7f;
$cyan-aqua: 	#0ff;
$blue-charcoal: #010d1a;
$midnight: 		#011635;
$holly: 		#011d13;
$daintree: 		#012731;
$cardin-green: 	#01361c;
$county-green: 	#01371a;
$astronaut-blue: #013e62;
$regal-blue: 	#013f6a;
$aqua-deep: 	#014b43;
$orient: 		#015e85;
$blue-stone: 	#016162;
$fun-green: 	#016d39;
$pine-green: 	#01796f;
$blue-lagoon: 	#017987;
$deep-sea: 		#01826b;
$green-haze: 	#01a368;
$english-holly: #022d15;
$sherwood-green: #02402c;
$congress-blue: #02478e;
$evening-sea: 	#024e46;
$bahama-blue: 	#026395;
$observatory: 	#02866f;
$cerulean: 		#02a4d3;
$tangaroa: 		#03163c;
$green-vogue: 	#032b52;
$mosque: 		#036a6e;
$midnight-moss: #041004;
$black-pearl: 	#041322;
$blue-whale: 	#042e4c;
$zuccini: 		#044022;
$teal-blue: 	#044259;
$deep-cove: 	#051040;
$gulf-blue: 	#051657;
$venice-blue: 	#055989;
$watercourse: 	#056f57;
$catalina-blue: #062a78;
$tiber: 		#063537;
$gossamer: 		#069b81;
$niagara: 		#06a189;
$tarawera: 		#073a50;
$jaguar: 		#080110;
$black-bean: 	#081910;
$deep-sapphire: #082567;
$elf-green: 	#088370;
$bright-turquoise: 	#08e8de;
$downriver: 	#092256;
$palm-green: 	#09230f;
$madison: 		#09255d;
$bottle-green: 	#093624;
$deep-sea-green: #095859;
$salem: 		#097f4b;
$black-russian: #0a001c;
$dark-fern: 	#0a480d;
$japanese-laurel: #0a6906;
$atoll: 		#0a6f75;
$cod-gray: 		#0b0b0b;
$marshland: 	#0b0f08;
$gordons-green: #0b1107;
$black-forest: 	#0b1304;
$san-felix: 	#0b6207;
$malachite: 	#0bda51;
$ebony: 		#0c0b1d;
$woodsmoke: 	#0c0d0f;
$racing-green: 	#0c1911;
$surfie-green: 	#0c7a79;
$blue-chill: 	#0c8990;
$black-rock: 	#0d0332;
$bunker: 		#0d1117;
$aztec: 		#0d1c19;
$bush: 			#0d2e1c;
$cinder: 		#0e0e18;
$firefly: 		#0e2a30;
$torea-bay: 	#0f2d9e;
$vulcan: 		#10121d;
$green-waterloo: #101405;
$eden: 			#105852;
$arapawa: 		#110c6c;
$ultramarine: 	#120a8f;
$elephant: 		#123447;
$jewel: 		#126b40;
$diesel: 		#130000;
$asphalt: 		#130a06;
$blue-zodiac: 	#13264d;
$parsley: 		#134f19;
$nero: 			#140600;
$tory-blue: 	#1450aa;
$bunting: 		#151f4c;
$denim: 		#1560bd;
$genoa: 		#15736b;
$mirage: 		#161928;
$hunter-green: 	#161d10;
$big-stone: 	#162a40;
$celtic: 		#163222;
$timber-green: 	#16322c;
$gable-green: 	#163531;
$pine-tree: 	#171f04;
$chathams-blue: #175579;
$deep-forest-green: #182d09;
$blumine: 		#18587a;
$palm-leaf: 	#19330e;
$nile-blue: 	#193751;
$fun-blue: 		#1959a8;
$lucky-point: 	#1a1a68;
$mountain-meadow: #1ab385;
$tolopea: 		#1b0245;
$haiti: 		#1b1035;
$deep-koamaru: 	#1b127b;
$acadia: 		#1b1404;
$seaweed: 		#1b2f11;
$biscay: 		#1b3162;
$matisse: 		#1b659d;
$crowshead: 	#1c1208;
$rangoon-green: #1c1e13;
$persian-blue: 	#1c39bb;
$everglade: 	#1c402e;
$elm: 			#1c7c7d;
$green-pea: 	#1d6142;
$creole: 		#1e0f04;
$karaka: 		#1e1609;
$el-paso: 		#1e1708;
$cello: 		#1e385b;
$te-papa-green: #1e433c;
$dodger-blue: 	#1e90ff;
$eastern-blue: 	#1e9ab0;
$night-rider: 	#1f120f;
$java: 			#1fc2c2;
$jacksons-purple: #20208d;
$cloud-burst: 	#202e54;
$blue-dianne: 	#204852;
$eternity: 		#211a0e;
$deep-blue: 	#220878;
$forest-green: 	#228b22;
$mallard: 		#233418;
$violet: 		#240a40;
$kilamanjaro: 	#240c02;
$log-cabin: 	#242a1d;
$black-olive: 	#242e16;
$green-house: 	#24500f;
$graphite: 		#251607;
$cannon-black: 	#251706;
$port-gore: 	#251f4f;
$shark: 		#25272c;
$green-kelp: 	#25311c;
$curious-blue: 	#2596d1;
$paua: 			#260368;
$paris-m: 		#26056a;
$wood-bark: 	#261105;
$gondola: 		#261414;
$steel-gray: 	#262335;
$ebony-clay: 	#26283b;
$bay-of-many: 	#273a81;
$plantation: 	#27504b;
$eucalyptus: 	#278a5b;
$oil: 			#281e15;
$astronaut: 	#283a77;
$mariner: 		#286acd;
$violent-violet: #290c5e;
$bastille: 		#292130;
$zeus: 			#292319;
$charade: 		#292937;
$jelly-bean: 	#297b9a;
$jungle-green: 	#29ab87;
$cherry-pie: 	#2a0359;
$coffee-bean: 	#2a140e;
$baltic-sea: 	#2a2630;
$turtle-green: 	#2a380b;
$cerulean-blue: #2a52be;
$sepia-black: 	#2b0202;
$valhalla: 		#2b194f;
$heavy-metal: 	#2b3228;
$blue-gem: 		#2c0e8c;
$revolver: 		#2c1632;
$bleached-cedar: #2c2133;
$lochinvar: 	#2c8c84;
$mikado: 		#2d2510;
$outer-space: 	#2d383a;
$st-tropaz: 	#2d569b;
$jacaranda: 	#2e0329;
$jacko-bean: 	#2e1905;
$rangitoto: 	#2e3222;
$rhino: 		#2e3f62;
$sea-green: 	#2e8b57;
$scooter: 		#2ebfd4;
$onion: 		#2f270e;
$governor-bay: 	#2f3cb3;
$sapphire: 		#2f519e;
$spectra: 		#2f5a57;
$casal: 		#2f6168;
$melanzane: 	#300529;
$cocoa-brown: 	#301f1e;
$woodrush: 		#302a0f;
$san-juan: 		#304b6a;
$turquoise: 	#30d5c8;
$eclipse: 		#311c17;
$pickled-bluewood: #314459;
$azure: 		#315ba1;
$calypso: 		#31728d;
$paradiso: 		#317d82;
$persian-indigo: #32127a;
$blackcurrant: 	#32293a;
$mine-shaft: 	#323232;
$stromboli: 	#325d52;
$bilbao: 		#327c14;
$astral: 		#327da0;
$christalle: 	#33036b;
$thunder: 		#33292f;
$shamrock: 		#3c9;
$tamarind: 		#341515;
$mardi-gras: 	#350036;
$valentino: 	#350e42;
$jagger: 		#350e57;
$tuna: 			#353542;
$chambray: 		#354e8c;
$martinique: 	#363050;
$tuatara: 		#363534;
$waiouru: 		#363c0d;
$ming: 			#36747d;
$la-palma: 		#368716;
$chocolate: 	#370202;
$clinker: 		#371d09;
$brown-tumbleweed: #37290e;
$birch: 		#373021;
$oracle: 		#377475;
$blue-diamond: 	#380474;
$grape: 		#381a51;
$dune: 			#383533;
$oxford-blue: 	#384555;
$clover: 		#384910;
$limed-spruce: 	#394851;
$dell: 			#396413;
$toledo: 		#3a0020;
$sambuca: 		#3a2010;
$jacarta: 		#3a2a6a;
$william: 		#3a686c;
$killarney: 	#3a6a47;
$keppel: 		#3ab09e;
$temptress: 	#3b000b;
$aubergine: 	#3b0910;
$jon: 			#3b1f1f;
$treehouse: 	#3b2820;
$amazon: 		#3b7a57;
$boston-blue: 	#3b91b4;
$windsor: 		#3c0878;
$rebel: 		#3c1206;
$meteorite: 	#3c1f76;
$dark-ebony: 	#3c2005;
$camouflage: 	#3c3910;
$bright-gray: 	#3c4151;
$cape-cod: 		#3c4443;
$lunar-green: 	#3c493a;
$bean--: 		#3d0c02;
$bistre: 		#3d2b1f;
$goblin: 		#3d7d52;
$kingfisher-daisy: #3e0480;
$cedar: 		#3e1c14;
$english-walnut: #3e2b23;
$black-marlin:	#3e2c1c;
$ship-gray: 	#3e3a44;
$pelorous: 		#3eabbf;
$bronze: 		#3f2109;
$cola: 			#3f2500;
$madras: 		#3f3002;
$minsk: 		#3f307f;
$cabbage-pont: 	#3f4c3a;
$tom-thumb: 	#3f583b;
$mineral-green: #3f5d53;
$puerto-rico: 	#3fc1aa;
$harlequin: 	#3fff00;
$brown-pod: 	#401801;
$cork: 			#40291d;
$masala: 		#403b38;
$thatch-green: 	#403d19;
$fiord: 		#405169;
$viridian: 		#40826d;
$chateau-green: #40a860;
$ripe-plum: 	#410056;
$paco: 			#411f10;
$deep-oak: 		#412010;
$merlin: 		#413c37;
$gun-powder: 	#414257;
$east-bay: 		#414c7d;
$royal-blue: 	#4169e1;
$ocean-green: 	#41aa78;
$burnt-maroon: 	#420303;
$lisbon-brown: 	#423921;
$faded-jade: 	#427977;
$scarlet-gum: 	#431560;
$iroko: 		#433120;
$armadillo: 	#433e37;
$river-bed: 	#434c59;
$green-leaf: 	#436a0d;
$barossa: 		#44012d;
$morocco-brown: #441d00;
$mako: 			#444954;
$kelp: 			#454936;
$san-marino: 	#456cac;
$picton-blue: 	#45b1e8;
$loulou: 		#460b41;
$crater-brown: 	#462425;
$gray-asparagus: #465945;
$steel-blue: 	#4682b4;
$rustic-red: 	#480404;
$bulgarian-rose: #480607;
$clairvoyant: 	#480656;
$cocoa-bean: 	#481c1c;
$woody-brown: 	#483131;
$taupe: 		#483c32;
$van-cleef: 	#49170c;
$brown-derby: 	#492615;
$metallic-bronze: #49371b;
$verdun-green: 	#495400;
$blue-bayoux: 	#496679;
$bismark: 		#497183;
$bracken: 		#4a2a04;
$deep-bronze: 	#4a3004;
$mondo: 		#4a3c30;
$tundora: 		#4a4244;
$gravel: 		#4a444b;
$trout: 		#4a4e5a;
$pigment-indigo: #4b0082;
$nandor: 		#4b5d52;
$saddle: 		#4c3024;
$abbey: 		#4c4f56;
$blackberry: 	#4d0135;
$cab-sav: 		#4d0a18;
$indian-tan: 	#4d1e01;
$cowboy: 		#4d282d;
$livid-brown: 	#4d282e;
$rock: 			#4d3833;
$punga: 		#4d3d14;
$bronzetone: 	#4d400f;
$woodland: 		#4d5328;
$mahogany: 		#4e0606;
$bossanova: 	#4e2a5a;
$matterhorn: 	#4e3b41;
$bronze-olive: 	#4e420c;
$mulled-wine: 	#4e4562;
$axolotl: 		#4e6649;
$wedgewood: 	#4e7f9e;
$shakespeare: 	#4eabd1;
$honey-flower: 	#4f1c70;
$daisy-bush: 	#4f2398;
$indigo: 		#4f69c6;
$fern-green: 	#4f7942;
$fruit-salad: 	#4f9d5d;
$apple: 		#4fa83d;
$mortar: 		#504351;
$kashmir-blue: 	#507096;
$cutty-sark: 	#507672;
$emerald: 		#50c878;
$emperor: 		#514649;
$chalet-green: 	#516e3d;
$como: 			#517c66;
$smalt-blue: 	#51808f;
$castro: 		#52001f;
$maroon-oak: 	#520c17;
$gigas: 		#523c94;
$voodoo: 		#533455;
$victoria: 		#534491;
$hippie-green: 	#53824b;
$heath: 		#541012;
$judge-gray: 	#544333;
$fuscous-gray: 	#54534d;
$vida-loca: 	#549019;
$cioccolato: 	#55280c;
$saratoga: 		#555b10;
$finlandia: 	#556d56;
$havelock-blue: #5590d9;
$fountain-blue: #56b4be;
$spring-leaves: #578363;
$saddle-brown: 	#583401;
$scarpa-flow: 	#585562;
$cactus: 		#587156;
$hippie-blue: 	#589aaf;
$wine-berry: 	#591d35;
$brown-bramble: #592804;
$congo-brown: 	#593737;
$millbrook: 	#594433;
$waikawa-gray: 	#5a6e9c;
$horizon: 		#5a87a0;
$jambalaya: 	#5b3013;
$bordeaux: 		#5c0120;
$mulberry-wood: #5c0536;
$carnaby-tan: 	#5c2e01;
$comet: 		#5c5d75;
$redwood: 		#5d1e0f;
$don-juan: 		#5d4c51;
$chicago: 		#5d5c58;
$verdigris: 	#5d5e37;
$dingley: 		#5d7747;
$breaker-bay: 	#5da19f;
$kabul: 		#5e483e;
$hemlock: 		#5e5d3b;
$irish-coffee: 	#5f3d26;
$mid-gray: 		#5f5f6e;
$shuttle-gray: 	#5f6672;
$aqua-forest: 	#5fa777;
$tradewind: 	#5fb3ac;
$horses-neck: 	#604913;
$smoky: 		#605b73;
$corduroy: 		#606e68;
$danube: 		#6093d1;
$espresso: 		#612718;
$eggplant: 		#614051;
$costa-del-sol: #615d30;
$glade-green: 	#61845f;
$buccaneer: 	#622f30;
$quincy: 		#623f2d;
$butterfly-bush: #624e9a;
$west-coast: 	#625119;
$finch: 		#626649;
$patina: 		#639a8f;
$fern: 			#63b76c;
$blue-violet: 	#6456b7;
$dolphin: 		#646077;
$storm-dust: 	#646463;
$siam: 			#646a54;
$nevada: 		#646e75;
$cornflower-blue: #6495ed;
$viking: 		#64ccdb;
$rosewood: 		#65000b;
$cherrywood: 	#651a14;
$purple-heart: 	#652dc1;
$fern-frond: 	#657220;
$willow-grove: 	#65745d;
$hoki: 			#65869f;
$pompadour: 	#660045;
$purple: 		#609;
$tyrian-purple: #66023c;
$dark-tan: 		#661010;
$silver-tree: 	#66b58f;
$bright-green: 	#6f0;
$screamin-green: #6f6;
$black-rose: 	#67032d;
$scampi: 		#675fa6;
$ironside-gray: #676662;
$viridian-green: #678975;
$christi: 		#67a712;
$nutmeg-wood-finish: #683600;
$zambezi: 		#685558;
$salt-box: 		#685e6e;
$tawny-port: 	#692545;
$finn: 			#692d54;
$scorpion: 		#695f62;
$lynch: 		#697e9a;
$spice: 		#6a442e;
$himalaya: 		#6a5d1b;
$soya-bean: 	#6a6051;
$hairy-heath: 	#6b2a14;
$royal-purple: 	#6b3fa0;
$shingle-fawn: 	#6b4e31;
$dorado: 		#6b5755;
$bermuda-gray: 	#6b8ba2;
$olive-drab: 	#6b8e23;
$eminence: 		#6c3082;
$turquoise-blue: #6cdae7;
$lonestar: 		#6d0101;
$pine-cone: 	#6d5e54;
$dove-gray: 	#6d6c6c;
$juniper: 		#6d9292;
$gothic: 		#6d92a1;
$red-oxide: 	#6e0902;
$moccaccino: 	#6e1d14;
$pickled-bean: 	#6e4826;
$dallas: 		#6e4b26;
$kokoda: 		#6e6d57;
$pale-sky: 		#6e7783;
$cafe-royale: 	#6f440c;
$flint: 		#6f6a61;
$highland: 		#6f8e63;
$limeade: 		#6f9d02;
$downy: 		#6fd0c5;
$persian-plum: 	#701c1c;
$sepia: 		#704214;
$antique-bronze: #704a07;
$ferra: 		#704f50;
$coffee: 		#706555;
$slate-gray: 	#708090;
$cedar-wood-finish:	#711a00;
$metallic-copper: 	#71291d;
$affair: 		#714693;
$studio: 		#714ab2;
$tobacco-brown: #715d47;
$yellow-metal: 	#716338;
$peat: 			#716b56;
$olivetone: 	#716e10;
$storm-gray: 	#717486;
$sirocco: 		#718080;
$aquamarine-blue: #71d9e2;
$venetian-red: 	#72010f;
$old-copper: 	#724a2f;
$go-ben: 		#726d4e;
$raven: 		#727b89;
$seance: 		#731e8f;
$raw-umber: 	#734a12;
$kimberly: 		#736c9f;
$crocodile: 	#736d58;
$crete: 		#737829;
$xanadu: 		#738678;
$spicy-mustard: #74640d;
$limed-ash: 	#747d63;
$rolling-stone: #747d83;
$blue-smoke: 	#748881;
$laurel: 		#749378;
$mantis: 		#74c365;
$russett: 		#755a57;
$deluge: 		#7563a8;
$cosmic: 		#76395d;
$blue-marguerite: #7666c6;
$lima: 			#76bd17;
$sky-blue: 		#76d7ea;
$dark-burgundy: #770f05;
$crown-of-thorns: #771f1f;
$walnut: 		#773f1a;
$pablo: 		#776f61;
$pacifika: 		#778120;
$oxley: 		#779e86;
$pastel-green: 	#7d7;
$japanese-maple: #780109;
$mocha: 		#782d19;
$peanut: 		#782f16;
$camouflage-green: #78866b;
$wasabi: 		#788a25;
$ship-cove: 	#788bba;
$sea-nymph: 	#78a39c;
$roman-coffee: 	#795d4c;
$old-lavender: 	#796878;
$rum: 			#796989;
$fedora: 		#796a78;
$sandstone: 	#796d62;
$spray: 		#79deec;
$siren: 		#7a013a;
$fuchsia-blue: 	#7a58c1;
$boulder: 		#7a7a7a;
$wild-blue-yonder: #7a89b8;
$de-york: 		#7ac488;
$red-beech: 	#7b3801;
$cinnamon: 		#7b3f00;
$yukon-gold: 	#7b6608;
$tapa: 			#7b7874;
$waterloo-: 	#7b7c94;
$flax-smoke: 	#7b8265;
$amulet: 		#7b9f80;
$asparagus: 	#7ba05b;
$kenyan-copper: #7c1c05;
$pesto: 		#7c7631;
$topaz: 		#7c778a;
$concord: 		#7c7b7a;
$jumbo: 		#7c7b82;
$trendy-green: 	#7c881a;
$gumbo: 		#7ca1a6;
$acapulco: 		#7cb0a1;
$neptune: 		#7cb7bb;
$pueblo: 		#7d2c14;
$bay-leaf: 		#7da98d;
$malibu: 		#7dc8f7;
$bermuda: 		#7dd8c6;
$copper-canyon: #7e3a15;
$claret: 		#7f1734;
$peru-tan: 		#7f3a02;
$falcon: 		#7f626d;
$mobster: 		#7f7589;
$moody-blue: 	#7f76d3;
$chartreuse: 	#7fff00;
$aquamarine: 	#7fffd4;
$maroon: 		#800000;
$rose-bud-cherry: #800b47;
$falu-red: 		#801818;
$red-robin: 	#80341f;
$vivid-violet: 	#803790;
$russet: 		#80461b;
$friar-gray: 	#807e79;
$olive: 		#808000;
$gray: 			#808080;
$gulf-stream: 	#80b3ae;
$glacier: 		#80b3c4;
$seagull: 		#80ccea;
$nutmeg: 		#81422c;
$spicy-pink: 	#816e71;
$empress: 		#817377;
$spanish-green: #819885;
$sand-dune: 	#826f65;
$gunsmoke: 		#828685;
$battleship-gray: #828f72;
$merlot: 		#831923;
$shadow: 		#837050;
$chelsea-cucumber: #83aa5d;
$monte-carlo:	#83d0c6;
$plum: 			#843179;
$granny-smith: 	#84a0a0;
$chetwode-blue: #8581d9;
$bandicoot: 	#858470;
$bali-hai: 		#859faf;
$half-baked: 	#85c4cc;
$red-devil: 	#860111;
$lotus: 		#863c3c;
$ironstone: 	#86483c;
$bull-shot: 	#864d1e;
$rusty-nail: 	#86560a;
$bitter: 		#868974;
$regent-gray: 	#86949f;
$disco: 		#871550;
$americano: 	#87756e;
$hurricane: 	#877c7b;
$oslo-gray: 	#878d91;
$sushi: 		#87ab39;
$spicy-mix: 	#885342;
$kumera: 		#886221;
$suva-gray: 	#888387;
$avocado: 		#888d65;
$camelot: 		#893456;
$solid-pink: 	#893843;
$cannon-pink: 	#894367;
$makara: 		#897d6d;
$burnt-umber: 	#8a3324;
$true-v: 		#8a73d6;
$clay-creek: 	#8a8360;
$monsoon: 		#8a8389;
$stack: 		#8a8f8a;
$jordy-blue: 	#8ab9f1;
$electric-violet: #8b00ff;
$monarch: 		#8b0723;
$corn-harvest: 	#8b6b0b;
$olive-haze: 	#8b8470;
$schooner: 		#8b847e;
$natural-gray: 	#8b8680;
$mantle: 		#8b9c90;
$portage: 		#8b9fee;
$envy: 			#8ba690;
$cascade: 		#8ba9a5;
$riptide: 		#8be6d8;
$cardinal-pink: #8c055e;
$mule-fawn: 	#8c472f;
$potters-clay: 	#8c5738;
$trendy-pink: 	#8c6495;
$paprika: 		#8d0226;
$sanguine-brown: #8d3d38;
$tosca: 		#8d3f3f;
$cement: 		#8d7662;
$granite-green: #8d8974;
$manatee: 		#8d90a1;
$polo-blue: 	#8da8cc;
$red-berry: 	#8e0000;
$rope: 			#8e4d1e;
$opium: 		#8e6f70;
$domino: 		#8e775e;
$mamba: 		#8e8190;
$nepal: 		#8eabc1;
$pohutukawa: 	#8f021c;
$el-salva: 		#8f3e33;
$korma: 		#8f4b0e;
$squirrel: 		#8f8176;
$vista-blue: 	#8fd6b4;
$burgundy: 		#900020;
$old-brick: 	#901e1e;
$hemp: 			#907874;
$almond-frost: 	#907b71;
$sycamore: 		#908d39;
$sangria: 		#92000a;
$cumin: 		#924321;
$beaver: 		#926f5b;
$stonewall: 	#928573;
$venus: 		#928590;
$medium-purple: #9370db;
$cornflower: 	#93ccea;
$algae-green: 	#93dfb8;
$copper-rust: 	#944747;
$arrowtown: 	#948771;
$scarlett: 		#950015;
$strikemaster: 	#956387;
$mountain-mist: #959396;
$carmine: 		#960018;
$brown: 		#964b00;
$leather: 		#967059;
$purple-mountains-majesty: #9678b6;
$lavender-purple: #967bb6;
$pewter: 		#96a8a1;
$summer-green: 	#96bbab;
$au-chico: 		#97605d;
$wisteria: 		#9771b5;
$atlantis: 		#97cd2d;
$vin-rouge: 	#983d61;
$lilac-bush: 	#9874d3;
$bazaar: 		#98777b;
$hacienda: 		#98811b;
$pale-oyster: 	#988d77;
$mint-green: 	#98ff98;
$fresh-eggplant: #906;
$violet-eggplant: #919;
$tamarillo: 	#991613;
$totem-pole: 	#991b07;
$copper-rose: 	#966;
$amethyst: 		#96c;
$mountbatten-pink: #997a8d;
$blue-bell: 	#99c;
$prairie-sand: 	#9a3820;
$toast: 		#9a6e61;
$gurkha: 		#9a9577;
$olivine: 		#9ab973;
$shadow-green: 	#9ac2b8;
$oregon: 		#9b4703;
$lemon-grass: 	#9b9e8f;
$stiletto: 		#9c3336;
$hawaiian-tan: 	#9d5616;
$gull-gray: 	#9dacb7;
$pistachio: 	#9dc209;
$granny-smith-apple: #9de093;
$anakiwa: 		#9de5ff;
$chelsea-gem: 	#9e5302;
$sepia-skin: 	#9e5b40;
$sage: 			#9ea587;
$citron: 		#9ea91f;
$rock-blue: 	#9eb1cd;
$morning-glory: #9edee0;
$cognac: 		#9f381d;
$reef-gold: 	#9f821c;
$star-dust: 	#9f9f9c;
$santas-gray: 	#9fa0b1;
$sinbad: 		#9fd7d3;
$feijoa: 		#9fdd8c;
$tabasco: 		#a02712;
$buttered-rum: 	#a1750d;
$hit-gray: 		#a1adb5;
$citrus: 		#a1c50a;
$aqua-island: 	#a1dad7;
$water-leaf: 	#a1e9de;
$flirt: 		#a2006d;
$rouge: 		#a23b6c;
$cape-palliser: #a26645;
$gray-chateau: 	#a2aab3;
$edward: 		#a2aeab;
$pharlap: 		#a3807b;
$amethyst-smoke: #a397b4;
$blizzard-blue: #a3e3ed;
$delta: 		#a4a49d;
$wistful: 		#a4a6d3;
$green-smoke: 	#a4af6e;
$jazzberry-jam: #a50b5e;
$zorba: 		#a59b91;
$bahia: 		#a5cb0c;
$roof-terracotta: #a62f20;
$paarl: 		#a65529;
$barley-corn: 	#a68b5b;
$donkey-brown: 	#a69279;
$dawn: 			#a6a29a;
$mexican-red: 	#a72525;
$luxor-gold: 	#a7882c;
$rich-gold: 	#a85307;
$reno-sand: 	#a86515;
$coral-tree: 	#a86b6b;
$dusty-gray: 	#a8989b;
$dull-lavender: #a899e6;
$tallow: 		#a8a589;
$bud: 			#a8ae9c;
$locust: 		#a8af8e;
$norway: 		#a8bd9f;
$chinook: 		#a8e3bd;
$gray-olive: 	#a9a491;
$aluminium: 	#a9acb6;
$cadet-blue: 	#a9b2c3;
$schist: 		#a9b497;
$tower-gray: 	#a9bdbf;
$perano: 		#a9bef2;
$opal: 			#a9c6c2;
$night-shadz:	#aa375a;
$fire: 			#aa4203;
$muesli: 		#aa8b5b;
$sandal: 		#aa8d6f;
$shady-lady: 	#aaa5a9;
$logan: 		#aaa9cd;
$spun-pearl: 	#aaabb7;
$regent-st-blue: #aad6e6;
$magic-mint: 	#aaf0d1;
$lipstick: 		#ab0563;
$royal-heath: 	#ab3472;
$sandrift: 		#ab917a;
$cold-purple: 	#aba0d9;
$bronco: 		#aba196;
$limed-oak: 	#ac8a56;
$east-side: 	#ac91ce;
$lemon-ginger: 	#ac9e22;
$napa: 			#aca494;
$hillary: 		#aca586;
$cloudy: 		#aca59f;
$silver-chalice: #acacac;
$swamp-green: 	#acb78e;
$spring-rain: 	#accbb1;
$conifer: 		#acdd4d;
$celadon: 		#ace1af;
$mandalay: 		#ad781b;
$casper: 		#adbed1;
$moss-green: 	#addfad;
$padua: 		#ade6c4;
$green-yellow: 	#adff2f;
$hippie-pink: 	#ae4560;
$desert: 		#ae6020;
$bouquet: 		#ae809e;
$medium-carmine: #af4035;
$apple-blossom: #af4d43;
$brown-rust: 	#af593e;
$driftwood: 	#af8751;
$alpine: 		#af8f2c;
$lucky: 		#af9f1c;
$martini: 		#afa09e;
$bombay: 		#afb1b8;
$pigeon-post: 	#afbdd9;
$cadillac: 		#b04c6a;
$matrix: 		#b05d54;
$tapestry: 		#b05e81;
$mai-tai: 		#b06608;
$del-rio: 		#b09a95;
$powder-blue: 	#b0e0e6;
$inch-worm: 	#b0e313;
$bright-red: 	#b10000;
$vesuvius: 		#b14a0b;
$pumpkin-skin: 	#b1610b;
$santa-fe: 		#b16d52;
$teak: 			#b19461;
$fringy-flower: #b1e2c1;
$ice-cold: 		#b1f4e7;
$shiraz: 		#b20931;
$biloba-flower: #b2a1ea;
$tall-poppy: 	#b32d29;
$fiery-orange: 	#b35213;
$hot-toddy: 	#b38007;
$taupe-gray: 	#b3af95;
$la-rioja: 		#b3c110;
$well-read: 	#b43332;
$blush: 		#b44668;
$jungle-mist: 	#b4cfd3;
$turkish-rose: 	#b57281;
$lavender: 		#b57edc;
$mongoose: 		#b5a27f;
$olive-green: 	#b5b35c;
$jet-stream: 	#b5d2ce;
$cruise: 		#b5ecdf;
$hibiscus: 		#b6316c;
$thatch: 		#b69d98;
$heathered-gray: #b6b095;
$eagle: 		#b6baa4;
$spindle: 		#b6d1ea;
$gum-leaf: 		#b6d3bf;
$rust: 			#b7410e;
$muddy-waters: 	#b78e5c;
$sahara: 		#b7a214;
$husk: 			#b7a458;
$nobel: 		#b7b1b1;
$heather: 		#b7c3d0;
$madang: 		#b7f0be;
$milano-red: 	#b81104;
$copper: 		#b87333;
$gimblet: 		#b8b56a;
$green-spring: 	#b8c1b1;
$celery: 		#b8c25d;
$sail: 			#b8e0f9;
$chestnut: 		#b94e48;
$crail: 		#b95140;
$marigold: 		#b98d28;
$wild-willow: 	#b9c46a;
$rainee: 		#b9c8ac;
$guardsman-red: #ba0101;
$rock-spray: 	#ba450c;
$bourbon: 		#ba6f1e;
$pirate-gold: 	#ba7f03;
$nomad: 		#bab1a2;
$submarine: 	#bac7c9;
$charlotte: 	#baeef9;
$medium-red-violet:	#bb3385;
$brandy-rose: 	#bb8983;
$rio-grande: 	#bbd009;
$surf: 			#bbd7c1;
$powder-ash: 	#bcc9c2;
$tuscany: 		#bd5e2e;
$quicksand: 	#bd978e;
$silk: 			#bdb1a8;
$malta: 		#bdb2a1;
$chatelle: 		#bdb3c7;
$lavender-gray: #bdbbd7;
$french-gray: 	#bdbdc6;
$clay-ash: 		#bdc8b3;
$loblolly: 		#bdc9ce;
$french-pass: 	#bdedfd;
$london-hue: 	#bea6c3;
$pink-swan: 	#beb5b7;
$fuego: 		#bede0d;
$rose-of-sharon: #bf5500;
$tide: 			#bfb8b0;
$blue-haze: 	#bfbed8;
$silver-sand: 	#bfc1c2;
$key-lime-pie: 	#bfc921;
$ziggurat: 		#bfdbe2;
$lime: 			#bfff00;
$thunderbird: 	#c02b18;
$mojo: 			#c04737;
$old-rose: 		#c08081;
$silver: 		#c0c0c0;
$pale-leaf: 	#c0d3b9;
$pixie-green: 	#c0d8b6;
$tia-maria: 	#c1440e;
$fuchsia-pink: 	#c154c1;
$buddha-gold: 	#c1a004;
$bison-hide: 	#c1b7a4;
$tea: 			#c1bab0;
$gray-suit: 	#c1becd;
$sprout: 		#c1d7b0;
$sulu: 			#c1f07c;
$indochine: 	#c26b03;
$twine: 		#c2955d;
$cotton-seed: 	#c2bdb6;
$pumice: 		#c2cac4;
$jagged-ice: 	#c2e8e5;
$maroon-flush: 	#c32148;
$indian-khaki: 	#c3b091;
$pale-slate: 	#c3bfc1;
$gray-nickel: 	#c3c3bd;
$periwinkle-gray: #c3cde6;
$tiara: 		#c3d1d1;
$tropical-blue: #c3ddf9;
$cardinal: 		#c41e3a;
$fuzzy-wuzzy-brown: #c45655;
$orange-roughy: #c45719;
$mist-gray: 	#c4c4bc;
$coriander: 	#c4d0b0;
$mint-tulip: 	#c4f4eb;
$mulberry: 		#c54b8c;
$nugget: 		#c59922;
$tussock: 		#c5994b;
$sea-mist: 		#c5dbca;
$yellow-green: 	#c5e17a;
$brick-red: 	#c62d42;
$contessa: 		#c6726b;
$oriental-pink: #c69191;
$roti: 			#c6a84b;
$ash: 			#c6c3b5;
$kangaroo: 		#c6c8bd;
$las-palmas: 	#c6e610;
$monza: 		#c7031e;
$red-violet: 	#c71585;
$coral-reef: 	#c7bca2;
$melrose: 		#c7c1ff;
$cloud: 		#c7c4bf;
$ghost: 		#c7c9d5;
$pine-glade: 	#c7cd90;
$botticelli: 	#c7dde5;
$antique-brass: #c88a65;
$lilac: 		#c8a2c8;
$hokey-pokey: 	#c8a528;
$lily: 			#c8aabf;
$laser: 		#c8b568;
$edgewater: 	#c8e3d7;
$piper: 		#c96323;
$pizza: 		#c99415;
$light-wisteria: #c9a0dc;
$rodeo-dust: 	#c9b29b;
$sundance: 		#c9b35b;
$earls-green: 	#c9b93b;
$silver-rust: 	#c9c0bb;
$conch: 		#c9d9d2;
$reef: 			#c9ffa2;
$aero-blue: 	#c9ffe5;
$flush-mahogany: #ca3435;
$turmeric: 		#cabb48;
$paris-white: 	#cadcd4;
$bitter-lemon: 	#cae00d;
$skeptic: 		#cae6da;
$viola: 		#cb8fa9;
$foggy-gray: 	#cbcab6;
$green-mist: 	#cbd3b0;
$nebula: 		#cbdbd6;
$persian-red: 	#c33;
$burnt-orange: 	#c50;
$ochre: 		#c72;
$puce: 			#c89;
$thistle-green: #cccaa8;
$periwinkle: 	#ccf;
$electric-lime: #cf0;
$tenn: 			#cd5700;
$chestnut-rose: #cd5c5c;
$brandy-punch: 	#cd8429;
$onahau: 		#cdf4ff;
$sorrell-brown: #ceb98f;
$cold-turkey: 	#cebaba;
$yuma: 			#cec291;
$chino: 		#cec7a7;
$eunry: 		#cfa39d;
$old-gold: 		#cfb53b;
$tasman: 		#cfdccf;
$surf-crest: 	#cfe5d2;
$humming-bird: 	#cff9f3;
$scandal: 		#cffaf4;
$red-stage: 	#d05f04;
$hopbush: 		#d06da1;
$meteor: 		#d07d12;
$perfume: 		#d0bef8;
$prelude: 		#d0c0e5;
$tea-green: 	#d0f0c0;
$geebung: 		#d18f1b;
$vanilla: 		#d1bea8;
$soft-amber: 	#d1c6b4;
$celeste: 		#d1d2ca;
$mischka: 		#d1d2dd;
$pear: 			#d1e231;
$hot-cinnamon: 	#d2691e;
$raw-sienna: 	#d27d46;
$careys-pink: 	#d29eaa;
$tan: 			#d2b48c;
$deco: 			#d2da97;
$blue-romance: 	#d2f6de;
$gossip: 		#d2f8b0;
$sisal: 		#d3cbba;
$swirl: 		#d3cdc5;
$charm: 		#d47494;
$clam-shell: 	#d4b6af;
$straw: 		#d4bf8d;
$akaroa: 		#d4c4a8;
$bird-flower: 	#d4cd16;
$iron: 			#d4d7d9;
$geyser: 		#d4dfe2;
$hawkes-blue: 	#d4e2fc;
$grenadier: 	#d54600;
$can-can: 		#d591a4;
$whiskey: 		#d59a6f;
$winter-hazel: 	#d5d195;
$granny-apple: 	#d5f6e3;
$my-pink: 		#d69188;
$tacha: 		#d6c562;
$moon-raker: 	#d6cef6;
$quill-gray: 	#d6d6d1;
$snowy-mint: 	#d6ffdb;
$new-york-pink: #d7837f;
$pavlova: 		#d7c498;
$fog: 			#d7d0ff;
$valencia: 		#d84437;
$japonica: 		#d87c63;
$thistle: 		#d8bfd8;
$maverick: 		#d8c2d5;
$foam: 			#d8fcfa;
$cabaret: 		#d94972;
$burning-sand: 	#d99376;
$cameo: 		#d9b99b;
$timberwolf: 	#d9d6cf;
$tana: 			#d9dcc1;
$link-water: 	#d9e4f5;
$mabel: 		#d9f7ff;
$cerise: 		#da3287;
$flame-pea: 	#da5b38;
$bamboo: 		#da6304;
$red-damask: 	#da6a41;
$orchid: 		#da70d6;
$copperfield: 	#da8a67;
$golden-grass: 	#daa520;
$zanah: 		#daecd6;
$iceberg: 		#daf4f0;
$oyster-bay: 	#dafaff;
$cranberry: 	#db5079;
$petite-orchid: #db9690;
$di-serria: 	#db995e;
$alto: 			#dbdbdb;
$frosted-mint: 	#dbfff8;
$crimson: 		#dc143c;
$punch: 		#dc4333;
$galliano: 		#dcb20c;
$blossom: 		#dcb4bc;
$wattle: 		#dcd747;
$westar: 		#dcd9d2;
$moon-mist: 	#dcddcc;
$caper: 		#dcedb4;
$swans-down: 	#dcf0ea;
$swiss-coffee: 	#ddd6d5;
$white-ice: 	#ddf9f1;
$cerise-red: 	#de3163;
$roman: 		#de6360;
$tumbleweed: 	#dea681;
$gold-tips: 	#deba13;
$brandy: 		#dec196;
$wafer: 		#decbc6;
$sapling: 		#ded4a4;
$barberry: 		#ded717;
$beryl-green: 	#dee5c0;
$pattens-blue: 	#def5ff;
$heliotrope: 	#df73ff;
$apache: 		#dfbe6f;
$chenin: 		#dfcd6f;
$lola: 			#dfcfdb;
$willow-brook: 	#dfecda;
$chartreuse-yellow: #dfff00;
$mauve: 		#e0b0ff;
$anzac: 		#e0b646;
$harvest-gold: 	#e0b974;
$calico: 		#e0c095;
$baby-blue: 	#e0ffff;
$sunglo: 		#e16865;
$equator: 		#e1bc64;
$pink-flare: 	#e1c0c8;
$periglacial-blue: 	#e1e6d6;
$kidnapper: 	#e1ead4;
$tara: 			#e1f6e8;
$mandy: 		#e25465;
$terracotta: 	#e2725b;
$golden-bell: 	#e28913;
$shocking: 		#e292c0;
$dixie: 		#e29418;
$light-orchid: 	#e29cd2;
$snuff: 		#e2d8ed;
$mystic: 		#e2ebed;
$apple-green: 	#e2f3ec;
$razzmatazz: 	#e30b5c;
$alizarin-crimson: 	#e32636;
$cinnabar: 		#e34234;
$cavern-pink: 	#e3bebe;
$peppermint: 	#e3f5e1;
$mindaro: 		#e3f988;
$deep-blush: 	#e47698;
$gamboge: 		#e49b0f;
$melanie: 		#e4c2d5;
$twilight: 		#e4cfde;
$bone: 			#e4d1c0;
$sunflower: 	#e4d422;
$grain-brown: 	#e4d5b7;
$zombie: 		#e4d69b;
$frostee: 		#e4f6e7;
$snow-flurry: 	#e4ffd1;
$amaranth: 		#e52b50;
$zest: 			#e5841b;
$dust-storm: 	#e5ccc9;
$stark-white: 	#e5d7bd;
$hampton: 		#e5d8af;
$bon-jour: 		#e5e0e1;
$mercury: 		#e5e5e5;
$polar: 		#e5f9f6;
$trinidad: 		#e64e03;
$gold-sand: 	#e6be8a;
$cashmere: 		#e6bea5;
$double-spanish-white: #e6d7b9;
$satin-linen: 	#e6e4d4;
$harp: 			#e6f2ea;
$off-green: 	#e6f8f3;
$hint-of-green: #e6ffe9;
$tranquil: 		#e6ffff;
$mango-tango: 	#e77200;
$christine: 	#e7730a;
$tonys-pink: 	#e79f8c;
$kobi: 			#e79fc4;
$rose-fog: 		#e7bcb4;
$corn: 			#e7bf05;
$putty: 		#e7cd8c;
$gray-nurse: 	#e7ece6;
$lily-white: 	#e7f8ff;
$bubbles: 		#e7feff;
$fire-bush: 	#e89928;
$shilo: 		#e8b9b3;
$pearl-bush: 	#e8e0d5;
$green-white: 	#e8ebe0;
$chrome-white: 	#e8f1d4;
$gin: 			#e8f2eb;
$aqua-squeeze: 	#e8f5f2;
$clementine: 	#e96e00;
$burnt-sienna: 	#e97451;
$tahiti-gold: 	#e97c07;
$oyster-pink: 	#e9cecd;
$confetti: 		#e9d75a;
$ebb: 			#e9e3e3;
$ottoman: 		#e9f8ed;
$clear-day: 	#e9fffd;
$carissma: 		#ea88a8;
$porsche: 		#eaae69;
$tulip-tree: 	#eab33b;
$rob-roy: 		#eac674;
$raffia: 		#eadab8;
$white-rock: 	#eae8d4;
$panache: 		#eaf6ee;
$solitude: 		#eaf6ff;
$aqua-spring: 	#eaf9f5;
$dew: 			#eafffe;
$apricot: 		#eb9373;
$zinnwaldite: 	#ebc2af;
$fuel-yellow: 	#eca927;
$ronchi: 		#ecc54e;
$french-lilac: 	#ecc7ee;
$just-right: 	#eccdb9;
$wild-rice: 	#ece090;
$fall-green: 	#ecebbd;
$aths-special: 	#ecebce;
$starship: 		#ecf245;
$red-ribbon: 	#ed0a3f;
$tango: 		#ed7a1c;
$carrot-orange: #ed9121;
$sea-pink: 		#ed989e;
$tacao: 		#edb381;
$desert-sand: 	#edc9af;
$pancho: 		#edcdab;
$chamois: 		#eddcb1;
$primrose: 		#edea99;
$frost: 		#edf5dd;
$aqua-haze: 	#edf5f5;
$zumthor: 		#edf6ff;
$narvik: 		#edf9f1;
$honeysuckle: 	#edfc84;
$lavender-magenta:	#ee82ee;
$beauty-bush: 	#eec1be;
$chalky: 		#eed794;
$almond: 		#eed9c4;
$flax: 			#eedc82;
$bizarre: 		#eededa;
$double-colonial-white: #eee3ad;
$cararra: 		#eeeee8;
$manz: 			#eeef78;
$tahuna-sands: 	#eef0c8;
$athens-gray: 	#eef0f3;
$tusk: 			#eef3c3;
$loafer: 		#eef4de;
$catskill-white: #eef6f7;
$twilight-blue: #eefdff;
$jonquil: 		#eeff9a;
$rice-flower: 	#eeffe2;
$jaffa: 		#ef863f;
$gallery: 		#efefef;
$porcelain: 	#eff2f3;
$mauvelous: 	#f091a9;
$golden-dream: 	#f0d52d;
$golden-sand: 	#f0db7d;
$buff: 			#f0dc82;
$prim: 			#f0e2ec;
$khaki: 		#f0e68c;
$selago: 		#f0eefd;
$titan-white: 	#f0eeff;
$alice-blue: 	#f0f8ff;
$feta: 			#f0fcea;
$gold-drop: 	#f18200;
$wewak: 		#f19bab;
$sahara-sand: 	#f1e788;
$parchment: 	#f1e9d2;
$blue-chalk: 	#f1e9ff;
$mint-julep: 	#f1eec1;
$seashell: 		#f1f1f1;
$saltpan: 		#f1f7f2;
$tidal: 		#f1ffad;
$chiffon: 		#f1ffc8;
$flamingo: 		#f2552a;
$tangerine: 	#f28500;
$mandys-pink: 	#f2c3b2;
$concrete: 		#f2f2f2;
$black-squeeze: #f2fafa;
$pomegranate: 	#f34723;
$buttercup: 	#f3ad16;
$new-orleans: 	#f3d69d;
$vanilla-ice: 	#f3d9df;
$sidecar: 		#f3e7bb;
$dawn-pink: 	#f3e9e5;
$wheatfield: 	#f3edcf;
$canary: 		#f3fb62;
$orinoco: 		#f3fbd4;
$carla: 		#f3ffd8;
$hollywood-cerise: 	#f400a1;
$sandy-brown: 	#f4a460;
$saffron: 		#f4c430;
$ripe-lemon: 	#f4d81c;
$janna: 		#f4ebd3;
$pampas: 		#f4f2ee;
$wild-sand: 	#f4f4f4;
$zircon: 		#f4f8ff;
$froly: 		#f57584;
$cream-can: 	#f5c85c;
$manhattan: 	#f5c999;
$maize: 		#f5d5a0;
$wheat: 		#f5deb3;
$sandwisp: 		#f5e7a2;
$pot-pourri:	#f5e7e2;
$albescent-white: #f5e9d3;
$soft-peach: 	#f5edef;
$ecru-white: 	#f5f3e5;
$beige: 		#f5f5dc;
$golden-fizz: 	#f5fb3d;
$australian-mint: #f5ffbe;
$french-rose: 	#f64a8a;
$brilliant-rose: #f653a6;
$illusion: 		#f6a4c9;
$merino: 		#f6f0e6;
$black-haze: 	#f6f7f7;
$spring-sun: 	#f6ffdc;
$violet-red: 	#f7468a;
$chilean-fire: 	#f77703;
$persian-pink: 	#f77fbe;
$rajah: 		#f7b668;
$azalea: 		#f7c8da;
$we-peep: 		#f7dbe6;
$quarter-spanish-white: #f7f2e1;
$whisper: 		#f7f5fa;
$snow-drift: 	#f7faf7;
$casablanca: 	#f8b853;
$chantilly: 	#f8c3df;
$cherub: 		#f8d9e9;
$marzipan: 		#f8db9d;
$energy-yellow: #f8dd5c;
$givry: 		#f8e4bf;
$white-linen: 	#f8f0e8;
$magnolia: 		#f8f4ff;
$spring-wood: 	#f8f6f1;
$coconut-cream: #f8f7dc;
$white-lilac: 	#f8f7fc;
$desert-storm: 	#f8f8f7;
$texas: 		#f8f99c;
$corn-field: 	#f8facd;
$mimosa: 		#f8fdd3;
$carnation: 	#f95a61;
$saffron-mango: #f9bf58;
$carousel-pink: #f9e0ed;
$dairy-cream: 	#f9e4bc;
$portica: 		#f9e663;
$underage-pink: #f9e6f4;
$amour: 		#f9eaf3;
$rum-swizzle: 	#f9f8e4;
$dolly: 		#f9ff8b;
$sugar-cane: 	#f9fff6;
$ecstasy: 		#fa7814;
$tan-hide: 		#fa9d5a;
$corvette: 		#fad3a2;
$peach-yellow: 	#fadfad;
$turbo: 		#fae600;
$astra: 		#faeab9;
$champagne: 	#faeccc;
$linen: 		#faf0e6;
$fantasy: 		#faf3f0;
$citrine-white: #faf7d6;
$alabaster: 	#fafafa;
$hint-of-yellow: #fafde4;
$milan: 		#faffa4;
$brink-pink: 	#fb607f;
$geraldine: 	#fb8989;
$lavender-rose: #fba0e3;
$sea-buckthorn: #fba129;
$sun: 			#fbac13;
$lavender-pink: #fbaed2;
$rose-bud: 		#fbb2a3;
$cupid: 		#fbbeda;
$classic-rose: 	#fbcce7;
$apricot-peach: #fbceb1;
$banana-mania: 	#fbe7b2;
$marigold-yellow: #fbe870;
$festival: 		#fbe96c;
$sweet-corn: 	#fbea8c;
$candy-corn: 	#fbec5d;
$hint-of-red: 	#fbf9f9;
$shalimar: 		#fbffba;
$shocking-pink: #fc0fc0;
$tickle-me-pink: #fc80a5;
$tree-poppy: 	#fc9c1d;
$lightning-yellow: #fcc01e;
$goldenrod: 	#fcd667;
$candlelight: 	#fcd917;
$cherokee: 		#fcda98;
$double-pearl-lusta: #fcf4d0;
$pearl-lusta: 	#fcf4dc;
$vista-white: 	#fcf8f7;
$bianca: 		#fcfbf3;
$moon-glow: 	#fcfeda;
$china-ivory: 	#fcffe7;
$ceramic: 		#fcfff9;
$torch-red: 	#fd0e35;
$wild-watermelon: #fd5b78;
$crusta: 		#fd7b33;
$sorbus: 		#fd7c07;
$sweet-pink: 	#fd9fa2;
$light-apricot: #fdd5b1;
$pig-pink: 		#fdd7e4;
$cinderella: 	#fde1dc;
$golden-glow: 	#fde295;
$lemon: 		#fde910;
$old-lace: 		#fdf5e6;
$half-colonial-white: #fdf6d3;
$drover: 		#fdf7ad;
$pale-prim: 	#fdfeb8;
$cumulus: 		#fdffd5;
$persian-rose: 	#fe28a2;
$sunset-orange: #fe4c40;
$bittersweet: 	#fe6f5e;
$california: 	#fe9d04;
$yellow-sea: 	#fea904;
$melon: 		#febaad;
$bright-sun: 	#fed33c;
$dandelion: 	#fed85d;
$salomie: 		#fedb8d;
$cape-honey: 	#fee5ac;
$remy: 			#feebf3;
$oasis: 		#feefce;
$bridesmaid: 	#fef0ec;
$beeswax: 		#fef2c7;
$bleach-white: 	#fef3d8;
$pipi: 			#fef4cc;
$half-spanish-white: #fef4db;
$wisp-pink:		#fef4f8;
$provincial-pink: #fef5f1;
$half-dutch-white: #fef7de;
$solitaire: 	#fef8e2;
$white-pointer: #fef8ff;
$off-yellow: 	#fef9e3;
$orange-white: 	#fefced;
$red: 			#f00;
$rose: 			#ff007f;
$purple-pizzazz: #ff00cc;
$magenta-fuchsia:	#ff00ff;
$scarlet: 		#ff2400;
$wild-strawberry: #f39;
$razzle-dazzle-rose: #f3c;
$radical-red: 	#ff355e;
$red-orange: 	#ff3f34;
$coral-red: 	#ff4040;
$vermilion: 	#ff4d00;
$international-orange: #ff4f00;
$outrageous-orange:	#ff6037;
$blaze-orange: 	#f60;
$pink-flamingo: #f6f;
$orange: 		#ff681f;
$hot-pink: 		#ff69b4;
$persimmon: 	#ff6b53;
$blush-pink: 	#ff6fff;
$burning-orange: #ff7034;
$pumpkin: 		#ff7518;
$flamenco: 		#ff7d07;
$flush-orange: 	#ff7f00;
$coral: 		#ff7f50;
$salmon: 		#ff8c69;
$pizazz: 		#ff9000;
$west-side: 	#ff910f;
$pink-salmon: 	#ff91a4;
$neon-carrot: 	#f93;
$atomic-tangerine:#f96;
$vivid-tangerine: #ff9980;
$sunshade: 		#ff9e2c;
$orange-peel: 	#ffa000;
$mona-lisa: 	#ffa194;
$web-orange: 	#ffa500;
$carnation-pink: #ffa6c9;
$hit-pink: 		#ffab81;
$yellow-orange: #ffae42;
$cornflower-lilac: #ffb0ac;
$sundown: 		#ffb1b3;
$my-sin: 		#ffb31f;
$texas-rose: 	#ffb555;
$cotton-candy: 	#ffb7d5;
$macaroni-and-cheese: #ffb97b;
$selective-yellow: #ffba00;
$koromiko: 		#ffbd5f;
$amber: 		#ffbf00;
$wax-flower: 	#ffc0a8;
$pink: 			#ffc0cb;
$your-pink: 	#ffc3c0;
$supernova: 	#ffc901;
$flesh: 		#ffcba4;
$sunglow: 		#fc3;
$golden-tainoi: #ffcc5c;
$peach-orange: 	#fc9;
$chardonnay: 	#ffcd8c;
$pastel-pink: 	#ffd1dc;
$romantic: 		#ffd2b7;
$grandis: 		#ffd38c;
$gold: 			#ffd700;
$school-bus-yellow: #ffd800;
$cosmos: 		#ffd8d9;
$mustard: 		#ffdb58;
$peach-schnapps: #ffdcd6;
$caramel: 		#ffddaf;
$tuft-bush: 	#ffddcd;
$watusi: 		#ffddcf;
$pink-lace: 	#ffddf4;
$navajo-white: 	#ffdead;
$frangipani: 	#ffdeb3;
$pippin: 		#ffe1df;
$pale-rose: 	#ffe1f2;
$negroni: 		#ffe2c5;
$cream-brulee: 	#ffe5a0;
$peach: 		#ffe5b4;
$tequila: 		#ffe6c7;
$kournikova: 	#ffe772;
$sandy-beach: 	#ffeac8;
$karry: 		#ffead4;
$broom: 		#ffec13;
$colonial-white: #ffedbc;
$derby: 		#ffeed8;
$vis-vis: 		#ffefa1;
$egg-white: 	#ffefc1;
$papaya-whip: 	#ffefd5;
$fair-pink: 	#ffefec;
$peach-cream: 	#fff0db;
$lavender-blush: #fff0f5;
$gorse: 		#fff14f;
$buttermilk: 	#fff1b5;
$pink-lady: 	#fff1d8;
$forget-me-not: #fff1ee;
$tutu: 			#fff1f9;
$picasso: 		#fff39d;
$chardon: 		#fff3f1;
$paris-daisy: 	#fff46e;
$barley-white: 	#fff4ce;
$egg-sour: 		#fff4dd;
$sazerac: 		#fff4e0;
$serenade: 		#fff4e8;
$chablis: 		#fff4f3;
$seashell-peach: #fff5ee;
$sauvignon: 	#fff5f3;
$milk-punch: 	#fff6d4;
$varden: 		#fff6df;
$rose-white: 	#fff6f5;
$baja-white: 	#fff8d1;
$gin-fizz: 		#fff9e2;
$early-dawn: 	#fff9e6;
$lemon-chiffon: #fffacd;
$bridal-heath: 	#fffaf4;
$scotch-mist: 	#fffbdc;
$soapstone: 	#fffbf9;
$witch-haze: 	#fffc99;
$buttery-white: #fffcea;
$island-spice: 	#fffcee;
$cream: 		#fffdd0;
$chilean-heath: #fffde6;
$travertine: 	#fffde8;
$orchid-white: 	#fffdf3;
$quarter-pearl-lusta: #fffdf4;
$half-and-half: #fffee1;
$apricot-white: #fffeec;
$rice-cake: 	#fffef0;
$black-white: 	#fffef6;
$romance: 		#fffefd;
$yellow: 		#ff0;
$laser-lemon: 	#ff6;
$pale-canary: 	#ff9;
$portafino: 	#ffffb4;
$ivory: 		#fffff0;
$white: 		#fff;
