/* Color Palette
================================================== */
/* SASS Color Palettes by James Pearson - https://github.com/FearMediocrity/sass-color-palettes
*  Contact
*  -------------------------------------------------------
*  Email: james.pearson@thinkingincode.com
*/

$black: 		#000000;
$navy_blue: 	#000080;
$dark_blue: 	#0000c8;
$blue: 			#0000ff;
$stratos: 		#000741;
$swamp: 		#001b1c;
$resolution_blue: #002387;
$deep_fir: 		#002900;
$burnham: 		#002e20;
$international_klein_blue: #002fa7;
$prussian_blue: #003153;
$midnight_blue: #003366;
$smalt: 		#003399;
$deep_teal: 	#003532;
$cyprus: 		#003e40;
$kaitoke_green: #004620;
$cobalt: 		#0047ab;
$crusoe: 		#004816;
$sherpa_blue: 	#004950;
$endeavour: 	#0056a7;
$camarone: 		#00581a;
$science_blue: 	#0066cc;
$blue_ribbon: 	#0066ff;
$tropical_rain_forest: #00755e;
$allports: 		#0076a3;
$deep_cerulean: #007ba7;
$lochmara: 		#007ec7;
$azure_radiance: #007fff;
$teal: 			#008080;
$bondi_blue: 	#0095b6;
$pacific_blue: 	#009dc4;
$persian_green: #00a693;
$jade: 			#00a86b;
$caribbean_green: #00cc99;
$robins_egg_blue: #00cccc;
$green: 		#00ff00;
$spring_green: 	#00ff7f;
$cyan_aqua: 	#00ffff;
$blue_charcoal: #010d1a;
$midnight: 		#011635;
$holly: 		#011d13;
$daintree: 		#012731;
$cardin_green: 	#01361c;
$county_green: 	#01371a;
$astronaut_blue: #013e62;
$regal_blue: 	#013f6a;
$aqua_deep: 	#014b43;
$orient: 		#015e85;
$blue_stone: 	#016162;
$fun_green: 	#016d39;
$pine_green: 	#01796f;
$blue_lagoon: 	#017987;
$deep_sea: 		#01826b;
$green_haze: 	#01a368;
$english_holly: #022d15;
$sherwood_green: #02402c;
$congress_blue: #02478e;
$evening_sea: 	#024e46;
$bahama_blue: 	#026395;
$observatory: 	#02866f;
$cerulean: 		#02a4d3;
$tangaroa: 		#03163c;
$green_vogue: 	#032b52;
$mosque: 		#036a6e;
$midnight_moss: #041004;
$black_pearl: 	#041322;
$blue_whale: 	#042e4c;
$zuccini: 		#044022;
$teal_blue: 	#044259;
$deep_cove: 	#051040;
$gulf_blue: 	#051657;
$venice_blue: 	#055989;
$watercourse: 	#056f57;
$catalina_blue: #062a78;
$tiber: 		#063537;
$gossamer: 		#069b81;
$niagara: 		#06a189;
$tarawera: 		#073a50;
$jaguar: 		#080110;
$black_bean: 	#081910;
$deep_sapphire: #082567;
$elf_green: 	#088370;
$bright_turquoise: 	#08e8de;
$downriver: 	#092256;
$palm_green: 	#09230f;
$madison: 		#09255d;
$bottle_green: 	#093624;
$deep_sea_green: #095859;
$salem: 		#097f4b;
$black_russian: #0a001c;
$dark_fern: 	#0a480d;
$japanese_laurel: #0a6906;
$atoll: 		#0a6f75;
$cod_gray: 		#0b0b0b;
$marshland: 	#0b0f08;
$gordons_green: #0b1107;
$black_forest: 	#0b1304;
$san_felix: 	#0b6207;
$malachite: 	#0bda51;
$ebony: 		#0c0b1d;
$woodsmoke: 	#0c0d0f;
$racing_green: 	#0c1911;
$surfie_green: 	#0c7a79;
$blue_chill: 	#0c8990;
$black_rock: 	#0d0332;
$bunker: 		#0d1117;
$aztec: 		#0d1c19;
$bush: 			#0d2e1c;
$cinder: 		#0e0e18;
$firefly: 		#0e2a30;
$torea_bay: 	#0f2d9e;
$vulcan: 		#10121d;
$green_waterloo: #101405;
$eden: 			#105852;
$arapawa: 		#110c6c;
$ultramarine: 	#120a8f;
$elephant: 		#123447;
$jewel: 		#126b40;
$diesel: 		#130000;
$asphalt: 		#130a06;
$blue_zodiac: 	#13264d;
$parsley: 		#134f19;
$nero: 			#140600;
$tory_blue: 	#1450aa;
$bunting: 		#151f4c;
$denim: 		#1560bd;
$genoa: 		#15736b;
$mirage: 		#161928;
$hunter_green: 	#161d10;
$big_stone: 	#162a40;
$celtic: 		#163222;
$timber_green: 	#16322c;
$gable_green: 	#163531;
$pine_tree: 	#171f04;
$chathams_blue: #175579;
$deep_forest_green: #182d09;
$blumine: 		#18587a;
$palm_leaf: 	#19330e;
$nile_blue: 	#193751;
$fun_blue: 		#1959a8;
$lucky_point: 	#1a1a68;
$mountain_meadow: #1ab385;
$tolopea: 		#1b0245;
$haiti: 		#1b1035;
$deep_koamaru: 	#1b127b;
$acadia: 		#1b1404;
$seaweed: 		#1b2f11;
$biscay: 		#1b3162;
$matisse: 		#1b659d;
$crowshead: 	#1c1208;
$rangoon_green: #1c1e13;
$persian_blue: 	#1c39bb;
$everglade: 	#1c402e;
$elm: 			#1c7c7d;
$green_pea: 	#1d6142;
$creole: 		#1e0f04;
$karaka: 		#1e1609;
$el_paso: 		#1e1708;
$cello: 		#1e385b;
$te_papa_green: #1e433c;
$dodger_blue: 	#1e90ff;
$eastern_blue: 	#1e9ab0;
$night_rider: 	#1f120f;
$java: 			#1fc2c2;
$jacksons_purple: #20208d;
$cloud_burst: 	#202e54;
$blue_dianne: 	#204852;
$eternity: 		#211a0e;
$deep_blue: 	#220878;
$forest_green: 	#228b22;
$mallard: 		#233418;
$violet: 		#240a40;
$kilamanjaro: 	#240c02;
$log_cabin: 	#242a1d;
$black_olive: 	#242e16;
$green_house: 	#24500f;
$graphite: 		#251607;
$cannon_black: 	#251706;
$port_gore: 	#251f4f;
$shark: 		#25272c;
$green_kelp: 	#25311c;
$curious_blue: 	#2596d1;
$paua: 			#260368;
$paris_m: 		#26056a;
$wood_bark: 	#261105;
$gondola: 		#261414;
$steel_gray: 	#262335;
$ebony_clay: 	#26283b;
$bay_of_many: 	#273a81;
$plantation: 	#27504b;
$eucalyptus: 	#278a5b;
$oil: 			#281e15;
$astronaut: 	#283a77;
$mariner: 		#286acd;
$violent_violet: #290c5e;
$bastille: 		#292130;
$zeus: 			#292319;
$charade: 		#292937;
$jelly_bean: 	#297b9a;
$jungle_green: 	#29ab87;
$cherry_pie: 	#2a0359;
$coffee_bean: 	#2a140e;
$baltic_sea: 	#2a2630;
$turtle_green: 	#2a380b;
$cerulean_blue: #2a52be;
$sepia_black: 	#2b0202;
$valhalla: 		#2b194f;
$heavy_metal: 	#2b3228;
$blue_gem: 		#2c0e8c;
$revolver: 		#2c1632;
$bleached_cedar: #2c2133;
$lochinvar: 	#2c8c84;
$mikado: 		#2d2510;
$outer_space: 	#2d383a;
$st_tropaz: 	#2d569b;
$jacaranda: 	#2e0329;
$jacko_bean: 	#2e1905;
$rangitoto: 	#2e3222;
$rhino: 		#2e3f62;
$sea_green: 	#2e8b57;
$scooter: 		#2ebfd4;
$onion: 		#2f270e;
$governor_bay: 	#2f3cb3;
$sapphire: 		#2f519e;
$spectra: 		#2f5a57;
$casal: 		#2f6168;
$melanzane: 	#300529;
$cocoa_brown: 	#301f1e;
$woodrush: 		#302a0f;
$san_juan: 		#304b6a;
$turquoise: 	#30d5c8;
$eclipse: 		#311c17;
$pickled_bluewood: #314459;
$azure: 		#315ba1;
$calypso: 		#31728d;
$paradiso: 		#317d82;
$persian_indigo: #32127a;
$blackcurrant: 	#32293a;
$mine_shaft: 	#323232;
$stromboli: 	#325d52;
$bilbao: 		#327c14;
$astral: 		#327da0;
$christalle: 	#33036b;
$thunder: 		#33292f;
$shamrock: 		#33cc99;
$tamarind: 		#341515;
$mardi_gras: 	#350036;
$valentino: 	#350e42;
$jagger: 		#350e57;
$tuna: 			#353542;
$chambray: 		#354e8c;
$martinique: 	#363050;
$tuatara: 		#363534;
$waiouru: 		#363c0d;
$ming: 			#36747d;
$la_palma: 		#368716;
$chocolate: 	#370202;
$clinker: 		#371d09;
$brown_tumbleweed: #37290e;
$birch: 		#373021;
$oracle: 		#377475;
$blue_diamond: 	#380474;
$grape: 		#381a51;
$dune: 			#383533;
$oxford_blue: 	#384555;
$clover: 		#384910;
$limed_spruce: 	#394851;
$dell: 			#396413;
$toledo: 		#3a0020;
$sambuca: 		#3a2010;
$jacarta: 		#3a2a6a;
$william: 		#3a686c;
$killarney: 	#3a6a47;
$keppel: 		#3ab09e;
$temptress: 	#3b000b;
$aubergine: 	#3b0910;
$jon: 			#3b1f1f;
$treehouse: 	#3b2820;
$amazon: 		#3b7a57;
$boston_blue: 	#3b91b4;
$windsor: 		#3c0878;
$rebel: 		#3c1206;
$meteorite: 	#3c1f76;
$dark_ebony: 	#3c2005;
$camouflage: 	#3c3910;
$bright_gray: 	#3c4151;
$cape_cod: 		#3c4443;
$lunar_green: 	#3c493a;
$bean__: 		#3d0c02;
$bistre: 		#3d2b1f;
$goblin: 		#3d7d52;
$kingfisher_daisy: #3e0480;
$cedar: 		#3e1c14;
$english_walnut: #3e2b23;
$black_marlin:	#3e2c1c;
$ship_gray: 	#3e3a44;
$pelorous: 		#3eabbf;
$bronze: 		#3f2109;
$cola: 			#3f2500;
$madras: 		#3f3002;
$minsk: 		#3f307f;
$cabbage_pont: 	#3f4c3a;
$tom_thumb: 	#3f583b;
$mineral_green: #3f5d53;
$puerto_rico: 	#3fc1aa;
$harlequin: 	#3fff00;
$brown_pod: 	#401801;
$cork: 			#40291d;
$masala: 		#403b38;
$thatch_green: 	#403d19;
$fiord: 		#405169;
$viridian: 		#40826d;
$chateau_green: #40a860;
$ripe_plum: 	#410056;
$paco: 			#411f10;
$deep_oak: 		#412010;
$merlin: 		#413c37;
$gun_powder: 	#414257;
$east_bay: 		#414c7d;
$royal_blue: 	#4169e1;
$ocean_green: 	#41aa78;
$burnt_maroon: 	#420303;
$lisbon_brown: 	#423921;
$faded_jade: 	#427977;
$scarlet_gum: 	#431560;
$iroko: 		#433120;
$armadillo: 	#433e37;
$river_bed: 	#434c59;
$green_leaf: 	#436a0d;
$barossa: 		#44012d;
$morocco_brown: #441d00;
$mako: 			#444954;
$kelp: 			#454936;
$san_marino: 	#456cac;
$picton_blue: 	#45b1e8;
$loulou: 		#460b41;
$crater_brown: 	#462425;
$gray_asparagus: #465945;
$steel_blue: 	#4682b4;
$rustic_red: 	#480404;
$bulgarian_rose: #480607;
$clairvoyant: 	#480656;
$cocoa_bean: 	#481c1c;
$woody_brown: 	#483131;
$taupe: 		#483c32;
$van_cleef: 	#49170c;
$brown_derby: 	#492615;
$metallic_bronze: #49371b;
$verdun_green: 	#495400;
$blue_bayoux: 	#496679;
$bismark: 		#497183;
$bracken: 		#4a2a04;
$deep_bronze: 	#4a3004;
$mondo: 		#4a3c30;
$tundora: 		#4a4244;
$gravel: 		#4a444b;
$trout: 		#4a4e5a;
$pigment_indigo: #4b0082;
$nandor: 		#4b5d52;
$saddle: 		#4c3024;
$abbey: 		#4c4f56;
$blackberry: 	#4d0135;
$cab_sav: 		#4d0a18;
$indian_tan: 	#4d1e01;
$cowboy: 		#4d282d;
$livid_brown: 	#4d282e;
$rock: 			#4d3833;
$punga: 		#4d3d14;
$bronzetone: 	#4d400f;
$woodland: 		#4d5328;
$mahogany: 		#4e0606;
$bossanova: 	#4e2a5a;
$matterhorn: 	#4e3b41;
$bronze_olive: 	#4e420c;
$mulled_wine: 	#4e4562;
$axolotl: 		#4e6649;
$wedgewood: 	#4e7f9e;
$shakespeare: 	#4eabd1;
$honey_flower: 	#4f1c70;
$daisy_bush: 	#4f2398;
$indigo: 		#4f69c6;
$fern_green: 	#4f7942;
$fruit_salad: 	#4f9d5d;
$apple: 		#4fa83d;
$mortar: 		#504351;
$kashmir_blue: 	#507096;
$cutty_sark: 	#507672;
$emerald: 		#50c878;
$emperor: 		#514649;
$chalet_green: 	#516e3d;
$como: 			#517c66;
$smalt_blue: 	#51808f;
$castro: 		#52001f;
$maroon_oak: 	#520c17;
$gigas: 		#523c94;
$voodoo: 		#533455;
$victoria: 		#534491;
$hippie_green: 	#53824b;
$heath: 		#541012;
$judge_gray: 	#544333;
$fuscous_gray: 	#54534d;
$vida_loca: 	#549019;
$cioccolato: 	#55280c;
$saratoga: 		#555b10;
$finlandia: 	#556d56;
$havelock_blue: #5590d9;
$fountain_blue: #56b4be;
$spring_leaves: #578363;
$saddle_brown: 	#583401;
$scarpa_flow: 	#585562;
$cactus: 		#587156;
$hippie_blue: 	#589aaf;
$wine_berry: 	#591d35;
$brown_bramble: #592804;
$congo_brown: 	#593737;
$millbrook: 	#594433;
$waikawa_gray: 	#5a6e9c;
$horizon: 		#5a87a0;
$jambalaya: 	#5b3013;
$bordeaux: 		#5c0120;
$mulberry_wood: #5c0536;
$carnaby_tan: 	#5c2e01;
$comet: 		#5c5d75;
$redwood: 		#5d1e0f;
$don_juan: 		#5d4c51;
$chicago: 		#5d5c58;
$verdigris: 	#5d5e37;
$dingley: 		#5d7747;
$breaker_bay: 	#5da19f;
$kabul: 		#5e483e;
$hemlock: 		#5e5d3b;
$irish_coffee: 	#5f3d26;
$mid_gray: 		#5f5f6e;
$shuttle_gray: 	#5f6672;
$aqua_forest: 	#5fa777;
$tradewind: 	#5fb3ac;
$horses_neck: 	#604913;
$smoky: 		#605b73;
$corduroy: 		#606e68;
$danube: 		#6093d1;
$espresso: 		#612718;
$eggplant: 		#614051;
$costa_del_sol: #615d30;
$glade_green: 	#61845f;
$buccaneer: 	#622f30;
$quincy: 		#623f2d;
$butterfly_bush: #624e9a;
$west_coast: 	#625119;
$finch: 		#626649;
$patina: 		#639a8f;
$fern: 			#63b76c;
$blue_violet: 	#6456b7;
$dolphin: 		#646077;
$storm_dust: 	#646463;
$siam: 			#646a54;
$nevada: 		#646e75;
$cornflower_blue: #6495ed;
$viking: 		#64ccdb;
$rosewood: 		#65000b;
$cherrywood: 	#651a14;
$purple_heart: 	#652dc1;
$fern_frond: 	#657220;
$willow_grove: 	#65745d;
$hoki: 			#65869f;
$pompadour: 	#660045;
$purple: 		#660099;
$tyrian_purple: #66023c;
$dark_tan: 		#661010;
$silver_tree: 	#66b58f;
$bright_green: 	#66ff00;
$screamin_green: #66ff66;
$black_rose: 	#67032d;
$scampi: 		#675fa6;
$ironside_gray: #676662;
$viridian_green: #678975;
$christi: 		#67a712;
$nutmeg_wood_finish: #683600;
$zambezi: 		#685558;
$salt_box: 		#685e6e;
$tawny_port: 	#692545;
$finn: 			#692d54;
$scorpion: 		#695f62;
$lynch: 		#697e9a;
$spice: 		#6a442e;
$himalaya: 		#6a5d1b;
$soya_bean: 	#6a6051;
$hairy_heath: 	#6b2a14;
$royal_purple: 	#6b3fa0;
$shingle_fawn: 	#6b4e31;
$dorado: 		#6b5755;
$bermuda_gray: 	#6b8ba2;
$olive_drab: 	#6b8e23;
$eminence: 		#6c3082;
$turquoise_blue: #6cdae7;
$lonestar: 		#6d0101;
$pine_cone: 	#6d5e54;
$dove_gray: 	#6d6c6c;
$juniper: 		#6d9292;
$gothic: 		#6d92a1;
$red_oxide: 	#6e0902;
$moccaccino: 	#6e1d14;
$pickled_bean: 	#6e4826;
$dallas: 		#6e4b26;
$kokoda: 		#6e6d57;
$pale_sky: 		#6e7783;
$cafe_royale: 	#6f440c;
$flint: 		#6f6a61;
$highland: 		#6f8e63;
$limeade: 		#6f9d02;
$downy: 		#6fd0c5;
$persian_plum: 	#701c1c;
$sepia: 		#704214;
$antique_bronze: #704a07;
$ferra: 		#704f50;
$coffee: 		#706555;
$slate_gray: 	#708090;
$cedar_wood_finish:	#711a00;
$metallic_copper: 	#71291d;
$affair: 		#714693;
$studio: 		#714ab2;
$tobacco_brown: #715d47;
$yellow_metal: 	#716338;
$peat: 			#716b56;
$olivetone: 	#716e10;
$storm_gray: 	#717486;
$sirocco: 		#718080;
$aquamarine_blue: #71d9e2;
$venetian_red: 	#72010f;
$old_copper: 	#724a2f;
$go_ben: 		#726d4e;
$raven: 		#727b89;
$seance: 		#731e8f;
$raw_umber: 	#734a12;
$kimberly: 		#736c9f;
$crocodile: 	#736d58;
$crete: 		#737829;
$xanadu: 		#738678;
$spicy_mustard: #74640d;
$limed_ash: 	#747d63;
$rolling_stone: #747d83;
$blue_smoke: 	#748881;
$laurel: 		#749378;
$mantis: 		#74c365;
$russett: 		#755a57;
$deluge: 		#7563a8;
$cosmic: 		#76395d;
$blue_marguerite: #7666c6;
$lima: 			#76bd17;
$sky_blue: 		#76d7ea;
$dark_burgundy: #770f05;
$crown_of_thorns: #771f1f;
$walnut: 		#773f1a;
$pablo: 		#776f61;
$pacifika: 		#778120;
$oxley: 		#779e86;
$pastel_green: 	#77dd77;
$japanese_maple: #780109;
$mocha: 		#782d19;
$peanut: 		#782f16;
$camouflage_green: #78866b;
$wasabi: 		#788a25;
$ship_cove: 	#788bba;
$sea_nymph: 	#78a39c;
$roman_coffee: 	#795d4c;
$old_lavender: 	#796878;
$rum: 			#796989;
$fedora: 		#796a78;
$sandstone: 	#796d62;
$spray: 		#79deec;
$siren: 		#7a013a;
$fuchsia_blue: 	#7a58c1;
$boulder: 		#7a7a7a;
$wild_blue_yonder: #7a89b8;
$de_york: 		#7ac488;
$red_beech: 	#7b3801;
$cinnamon: 		#7b3f00;
$yukon_gold: 	#7b6608;
$tapa: 			#7b7874;
$waterloo_: 	#7b7c94;
$flax_smoke: 	#7b8265;
$amulet: 		#7b9f80;
$asparagus: 	#7ba05b;
$kenyan_copper: #7c1c05;
$pesto: 		#7c7631;
$topaz: 		#7c778a;
$concord: 		#7c7b7a;
$jumbo: 		#7c7b82;
$trendy_green: 	#7c881a;
$gumbo: 		#7ca1a6;
$acapulco: 		#7cb0a1;
$neptune: 		#7cb7bb;
$pueblo: 		#7d2c14;
$bay_leaf: 		#7da98d;
$malibu: 		#7dc8f7;
$bermuda: 		#7dd8c6;
$copper_canyon: #7e3a15;
$claret: 		#7f1734;
$peru_tan: 		#7f3a02;
$falcon: 		#7f626d;
$mobster: 		#7f7589;
$moody_blue: 	#7f76d3;
$chartreuse: 	#7fff00;
$aquamarine: 	#7fffd4;
$maroon: 		#800000;
$rose_bud_cherry: #800b47;
$falu_red: 		#801818;
$red_robin: 	#80341f;
$vivid_violet: 	#803790;
$russet: 		#80461b;
$friar_gray: 	#807e79;
$olive: 		#808000;
$gray: 			#808080;
$gulf_stream: 	#80b3ae;
$glacier: 		#80b3c4;
$seagull: 		#80ccea;
$nutmeg: 		#81422c;
$spicy_pink: 	#816e71;
$empress: 		#817377;
$spanish_green: #819885;
$sand_dune: 	#826f65;
$gunsmoke: 		#828685;
$battleship_gray: #828f72;
$merlot: 		#831923;
$shadow: 		#837050;
$chelsea_cucumber: #83aa5d;
$monte_carlo:	#83d0c6;
$plum: 			#843179;
$granny_smith: 	#84a0a0;
$chetwode_blue: #8581d9;
$bandicoot: 	#858470;
$bali_hai: 		#859faf;
$half_baked: 	#85c4cc;
$red_devil: 	#860111;
$lotus: 		#863c3c;
$ironstone: 	#86483c;
$bull_shot: 	#864d1e;
$rusty_nail: 	#86560a;
$bitter: 		#868974;
$regent_gray: 	#86949f;
$disco: 		#871550;
$americano: 	#87756e;
$hurricane: 	#877c7b;
$oslo_gray: 	#878d91;
$sushi: 		#87ab39;
$spicy_mix: 	#885342;
$kumera: 		#886221;
$suva_gray: 	#888387;
$avocado: 		#888d65;
$camelot: 		#893456;
$solid_pink: 	#893843;
$cannon_pink: 	#894367;
$makara: 		#897d6d;
$burnt_umber: 	#8a3324;
$true_v: 		#8a73d6;
$clay_creek: 	#8a8360;
$monsoon: 		#8a8389;
$stack: 		#8a8f8a;
$jordy_blue: 	#8ab9f1;
$electric_violet: #8b00ff;
$monarch: 		#8b0723;
$corn_harvest: 	#8b6b0b;
$olive_haze: 	#8b8470;
$schooner: 		#8b847e;
$natural_gray: 	#8b8680;
$mantle: 		#8b9c90;
$portage: 		#8b9fee;
$envy: 			#8ba690;
$cascade: 		#8ba9a5;
$riptide: 		#8be6d8;
$cardinal_pink: #8c055e;
$mule_fawn: 	#8c472f;
$potters_clay: 	#8c5738;
$trendy_pink: 	#8c6495;
$paprika: 		#8d0226;
$sanguine_brown: #8d3d38;
$tosca: 		#8d3f3f;
$cement: 		#8d7662;
$granite_green: #8d8974;
$manatee: 		#8d90a1;
$polo_blue: 	#8da8cc;
$red_berry: 	#8e0000;
$rope: 			#8e4d1e;
$opium: 		#8e6f70;
$domino: 		#8e775e;
$mamba: 		#8e8190;
$nepal: 		#8eabc1;
$pohutukawa: 	#8f021c;
$el_salva: 		#8f3e33;
$korma: 		#8f4b0e;
$squirrel: 		#8f8176;
$vista_blue: 	#8fd6b4;
$burgundy: 		#900020;
$old_brick: 	#901e1e;
$hemp: 			#907874;
$almond_frost: 	#907b71;
$sycamore: 		#908d39;
$sangria: 		#92000a;
$cumin: 		#924321;
$beaver: 		#926f5b;
$stonewall: 	#928573;
$venus: 		#928590;
$medium_purple: #9370db;
$cornflower: 	#93ccea;
$algae_green: 	#93dfb8;
$copper_rust: 	#944747;
$arrowtown: 	#948771;
$scarlett: 		#950015;
$strikemaster: 	#956387;
$mountain_mist: #959396;
$carmine: 		#960018;
$brown: 		#964b00;
$leather: 		#967059;
$purple_mountains_majesty: #9678b6;
$lavender_purple: #967bb6;
$pewter: 		#96a8a1;
$summer_green: 	#96bbab;
$au_chico: 		#97605d;
$wisteria: 		#9771b5;
$atlantis: 		#97cd2d;
$vin_rouge: 	#983d61;
$lilac_bush: 	#9874d3;
$bazaar: 		#98777b;
$hacienda: 		#98811b;
$pale_oyster: 	#988d77;
$mint_green: 	#98ff98;
$fresh_eggplant: #990066;
$violet_eggplant: #991199;
$tamarillo: 	#991613;
$totem_pole: 	#991b07;
$copper_rose: 	#996666;
$amethyst: 		#9966cc;
$mountbatten_pink: #997a8d;
$blue_bell: 	#9999cc;
$prairie_sand: 	#9a3820;
$toast: 		#9a6e61;
$gurkha: 		#9a9577;
$olivine: 		#9ab973;
$shadow_green: 	#9ac2b8;
$oregon: 		#9b4703;
$lemon_grass: 	#9b9e8f;
$stiletto: 		#9c3336;
$hawaiian_tan: 	#9d5616;
$gull_gray: 	#9dacb7;
$pistachio: 	#9dc209;
$granny_smith_apple: #9de093;
$anakiwa: 		#9de5ff;
$chelsea_gem: 	#9e5302;
$sepia_skin: 	#9e5b40;
$sage: 			#9ea587;
$citron: 		#9ea91f;
$rock_blue: 	#9eb1cd;
$morning_glory: #9edee0;
$cognac: 		#9f381d;
$reef_gold: 	#9f821c;
$star_dust: 	#9f9f9c;
$santas_gray: 	#9fa0b1;
$sinbad: 		#9fd7d3;
$feijoa: 		#9fdd8c;
$tabasco: 		#a02712;
$buttered_rum: 	#a1750d;
$hit_gray: 		#a1adb5;
$citrus: 		#a1c50a;
$aqua_island: 	#a1dad7;
$water_leaf: 	#a1e9de;
$flirt: 		#a2006d;
$rouge: 		#a23b6c;
$cape_palliser: #a26645;
$gray_chateau: 	#a2aab3;
$edward: 		#a2aeab;
$pharlap: 		#a3807b;
$amethyst_smoke: #a397b4;
$blizzard_blue: #a3e3ed;
$delta: 		#a4a49d;
$wistful: 		#a4a6d3;
$green_smoke: 	#a4af6e;
$jazzberry_jam: #a50b5e;
$zorba: 		#a59b91;
$bahia: 		#a5cb0c;
$roof_terracotta: #a62f20;
$paarl: 		#a65529;
$barley_corn: 	#a68b5b;
$donkey_brown: 	#a69279;
$dawn: 			#a6a29a;
$mexican_red: 	#a72525;
$luxor_gold: 	#a7882c;
$rich_gold: 	#a85307;
$reno_sand: 	#a86515;
$coral_tree: 	#a86b6b;
$dusty_gray: 	#a8989b;
$dull_lavender: #a899e6;
$tallow: 		#a8a589;
$bud: 			#a8ae9c;
$locust: 		#a8af8e;
$norway: 		#a8bd9f;
$chinook: 		#a8e3bd;
$gray_olive: 	#a9a491;
$aluminium: 	#a9acb6;
$cadet_blue: 	#a9b2c3;
$schist: 		#a9b497;
$tower_gray: 	#a9bdbf;
$perano: 		#a9bef2;
$opal: 			#a9c6c2;
$night_shadz:	#aa375a;
$fire: 			#aa4203;
$muesli: 		#aa8b5b;
$sandal: 		#aa8d6f;
$shady_lady: 	#aaa5a9;
$logan: 		#aaa9cd;
$spun_pearl: 	#aaabb7;
$regent_st_blue: #aad6e6;
$magic_mint: 	#aaf0d1;
$lipstick: 		#ab0563;
$royal_heath: 	#ab3472;
$sandrift: 		#ab917a;
$cold_purple: 	#aba0d9;
$bronco: 		#aba196;
$limed_oak: 	#ac8a56;
$east_side: 	#ac91ce;
$lemon_ginger: 	#ac9e22;
$napa: 			#aca494;
$hillary: 		#aca586;
$cloudy: 		#aca59f;
$silver_chalice: #acacac;
$swamp_green: 	#acb78e;
$spring_rain: 	#accbb1;
$conifer: 		#acdd4d;
$celadon: 		#ace1af;
$mandalay: 		#ad781b;
$casper: 		#adbed1;
$moss_green: 	#addfad;
$padua: 		#ade6c4;
$green_yellow: 	#adff2f;
$hippie_pink: 	#ae4560;
$desert: 		#ae6020;
$bouquet: 		#ae809e;
$medium_carmine: #af4035;
$apple_blossom: #af4d43;
$brown_rust: 	#af593e;
$driftwood: 	#af8751;
$alpine: 		#af8f2c;
$lucky: 		#af9f1c;
$martini: 		#afa09e;
$bombay: 		#afb1b8;
$pigeon_post: 	#afbdd9;
$cadillac: 		#b04c6a;
$matrix: 		#b05d54;
$tapestry: 		#b05e81;
$mai_tai: 		#b06608;
$del_rio: 		#b09a95;
$powder_blue: 	#b0e0e6;
$inch_worm: 	#b0e313;
$bright_red: 	#b10000;
$vesuvius: 		#b14a0b;
$pumpkin_skin: 	#b1610b;
$santa_fe: 		#b16d52;
$teak: 			#b19461;
$fringy_flower: #b1e2c1;
$ice_cold: 		#b1f4e7;
$shiraz: 		#b20931;
$biloba_flower: #b2a1ea;
$tall_poppy: 	#b32d29;
$fiery_orange: 	#b35213;
$hot_toddy: 	#b38007;
$taupe_gray: 	#b3af95;
$la_rioja: 		#b3c110;
$well_read: 	#b43332;
$blush: 		#b44668;
$jungle_mist: 	#b4cfd3;
$turkish_rose: 	#b57281;
$lavender: 		#b57edc;
$mongoose: 		#b5a27f;
$olive_green: 	#b5b35c;
$jet_stream: 	#b5d2ce;
$cruise: 		#b5ecdf;
$hibiscus: 		#b6316c;
$thatch: 		#b69d98;
$heathered_gray: #b6b095;
$eagle: 		#b6baa4;
$spindle: 		#b6d1ea;
$gum_leaf: 		#b6d3bf;
$rust: 			#b7410e;
$muddy_waters: 	#b78e5c;
$sahara: 		#b7a214;
$husk: 			#b7a458;
$nobel: 		#b7b1b1;
$heather: 		#b7c3d0;
$madang: 		#b7f0be;
$milano_red: 	#b81104;
$copper: 		#b87333;
$gimblet: 		#b8b56a;
$green_spring: 	#b8c1b1;
$celery: 		#b8c25d;
$sail: 			#b8e0f9;
$chestnut: 		#b94e48;
$crail: 		#b95140;
$marigold: 		#b98d28;
$wild_willow: 	#b9c46a;
$rainee: 		#b9c8ac;
$guardsman_red: #ba0101;
$rock_spray: 	#ba450c;
$bourbon: 		#ba6f1e;
$pirate_gold: 	#ba7f03;
$nomad: 		#bab1a2;
$submarine: 	#bac7c9;
$charlotte: 	#baeef9;
$medium_red_violet:	#bb3385;
$brandy_rose: 	#bb8983;
$rio_grande: 	#bbd009;
$surf: 			#bbd7c1;
$powder_ash: 	#bcc9c2;
$tuscany: 		#bd5e2e;
$quicksand: 	#bd978e;
$silk: 			#bdb1a8;
$malta: 		#bdb2a1;
$chatelle: 		#bdb3c7;
$lavender_gray: #bdbbd7;
$french_gray: 	#bdbdc6;
$clay_ash: 		#bdc8b3;
$loblolly: 		#bdc9ce;
$french_pass: 	#bdedfd;
$london_hue: 	#bea6c3;
$pink_swan: 	#beb5b7;
$fuego: 		#bede0d;
$rose_of_sharon: #bf5500;
$tide: 			#bfb8b0;
$blue_haze: 	#bfbed8;
$silver_sand: 	#bfc1c2;
$key_lime_pie: 	#bfc921;
$ziggurat: 		#bfdbe2;
$lime: 			#bfff00;
$thunderbird: 	#c02b18;
$mojo: 			#c04737;
$old_rose: 		#c08081;
$silver: 		#c0c0c0;
$pale_leaf: 	#c0d3b9;
$pixie_green: 	#c0d8b6;
$tia_maria: 	#c1440e;
$fuchsia_pink: 	#c154c1;
$buddha_gold: 	#c1a004;
$bison_hide: 	#c1b7a4;
$tea: 			#c1bab0;
$gray_suit: 	#c1becd;
$sprout: 		#c1d7b0;
$sulu: 			#c1f07c;
$indochine: 	#c26b03;
$twine: 		#c2955d;
$cotton_seed: 	#c2bdb6;
$pumice: 		#c2cac4;
$jagged_ice: 	#c2e8e5;
$maroon_flush: 	#c32148;
$indian_khaki: 	#c3b091;
$pale_slate: 	#c3bfc1;
$gray_nickel: 	#c3c3bd;
$periwinkle_gray: #c3cde6;
$tiara: 		#c3d1d1;
$tropical_blue: #c3ddf9;
$cardinal: 		#c41e3a;
$fuzzy_wuzzy_brown: #c45655;
$orange_roughy: #c45719;
$mist_gray: 	#c4c4bc;
$coriander: 	#c4d0b0;
$mint_tulip: 	#c4f4eb;
$mulberry: 		#c54b8c;
$nugget: 		#c59922;
$tussock: 		#c5994b;
$sea_mist: 		#c5dbca;
$yellow_green: 	#c5e17a;
$brick_red: 	#c62d42;
$contessa: 		#c6726b;
$oriental_pink: #c69191;
$roti: 			#c6a84b;
$ash: 			#c6c3b5;
$kangaroo: 		#c6c8bd;
$las_palmas: 	#c6e610;
$monza: 		#c7031e;
$red_violet: 	#c71585;
$coral_reef: 	#c7bca2;
$melrose: 		#c7c1ff;
$cloud: 		#c7c4bf;
$ghost: 		#c7c9d5;
$pine_glade: 	#c7cd90;
$botticelli: 	#c7dde5;
$antique_brass: #c88a65;
$lilac: 		#c8a2c8;
$hokey_pokey: 	#c8a528;
$lily: 			#c8aabf;
$laser: 		#c8b568;
$edgewater: 	#c8e3d7;
$piper: 		#c96323;
$pizza: 		#c99415;
$light_wisteria: #c9a0dc;
$rodeo_dust: 	#c9b29b;
$sundance: 		#c9b35b;
$earls_green: 	#c9b93b;
$silver_rust: 	#c9c0bb;
$conch: 		#c9d9d2;
$reef: 			#c9ffa2;
$aero_blue: 	#c9ffe5;
$flush_mahogany: #ca3435;
$turmeric: 		#cabb48;
$paris_white: 	#cadcd4;
$bitter_lemon: 	#cae00d;
$skeptic: 		#cae6da;
$viola: 		#cb8fa9;
$foggy_gray: 	#cbcab6;
$green_mist: 	#cbd3b0;
$nebula: 		#cbdbd6;
$persian_red: 	#cc3333;
$burnt_orange: 	#cc5500;
$ochre: 		#cc7722;
$puce: 			#cc8899;
$thistle_green: #cccaa8;
$periwinkle: 	#ccccff;
$electric_lime: #ccff00;
$tenn: 			#cd5700;
$chestnut_rose: #cd5c5c;
$brandy_punch: 	#cd8429;
$onahau: 		#cdf4ff;
$sorrell_brown: #ceb98f;
$cold_turkey: 	#cebaba;
$yuma: 			#cec291;
$chino: 		#cec7a7;
$eunry: 		#cfa39d;
$old_gold: 		#cfb53b;
$tasman: 		#cfdccf;
$surf_crest: 	#cfe5d2;
$humming_bird: 	#cff9f3;
$scandal: 		#cffaf4;
$red_stage: 	#d05f04;
$hopbush: 		#d06da1;
$meteor: 		#d07d12;
$perfume: 		#d0bef8;
$prelude: 		#d0c0e5;
$tea_green: 	#d0f0c0;
$geebung: 		#d18f1b;
$vanilla: 		#d1bea8;
$soft_amber: 	#d1c6b4;
$celeste: 		#d1d2ca;
$mischka: 		#d1d2dd;
$pear: 			#d1e231;
$hot_cinnamon: 	#d2691e;
$raw_sienna: 	#d27d46;
$careys_pink: 	#d29eaa;
$tan: 			#d2b48c;
$deco: 			#d2da97;
$blue_romance: 	#d2f6de;
$gossip: 		#d2f8b0;
$sisal: 		#d3cbba;
$swirl: 		#d3cdc5;
$charm: 		#d47494;
$clam_shell: 	#d4b6af;
$straw: 		#d4bf8d;
$akaroa: 		#d4c4a8;
$bird_flower: 	#d4cd16;
$iron: 			#d4d7d9;
$geyser: 		#d4dfe2;
$hawkes_blue: 	#d4e2fc;
$grenadier: 	#d54600;
$can_can: 		#d591a4;
$whiskey: 		#d59a6f;
$winter_hazel: 	#d5d195;
$granny_apple: 	#d5f6e3;
$my_pink: 		#d69188;
$tacha: 		#d6c562;
$moon_raker: 	#d6cef6;
$quill_gray: 	#d6d6d1;
$snowy_mint: 	#d6ffdb;
$new_york_pink: #d7837f;
$pavlova: 		#d7c498;
$fog: 			#d7d0ff;
$valencia: 		#d84437;
$japonica: 		#d87c63;
$thistle: 		#d8bfd8;
$maverick: 		#d8c2d5;
$foam: 			#d8fcfa;
$cabaret: 		#d94972;
$burning_sand: 	#d99376;
$cameo: 		#d9b99b;
$timberwolf: 	#d9d6cf;
$tana: 			#d9dcc1;
$link_water: 	#d9e4f5;
$mabel: 		#d9f7ff;
$cerise: 		#da3287;
$flame_pea: 	#da5b38;
$bamboo: 		#da6304;
$red_damask: 	#da6a41;
$orchid: 		#da70d6;
$copperfield: 	#da8a67;
$golden_grass: 	#daa520;
$zanah: 		#daecd6;
$iceberg: 		#daf4f0;
$oyster_bay: 	#dafaff;
$cranberry: 	#db5079;
$petite_orchid: #db9690;
$di_serria: 	#db995e;
$alto: 			#dbdbdb;
$frosted_mint: 	#dbfff8;
$crimson: 		#dc143c;
$punch: 		#dc4333;
$galliano: 		#dcb20c;
$blossom: 		#dcb4bc;
$wattle: 		#dcd747;
$westar: 		#dcd9d2;
$moon_mist: 	#dcddcc;
$caper: 		#dcedb4;
$swans_down: 	#dcf0ea;
$swiss_coffee: 	#ddd6d5;
$white_ice: 	#ddf9f1;
$cerise_red: 	#de3163;
$roman: 		#de6360;
$tumbleweed: 	#dea681;
$gold_tips: 	#deba13;
$brandy: 		#dec196;
$wafer: 		#decbc6;
$sapling: 		#ded4a4;
$barberry: 		#ded717;
$beryl_green: 	#dee5c0;
$pattens_blue: 	#def5ff;
$heliotrope: 	#df73ff;
$apache: 		#dfbe6f;
$chenin: 		#dfcd6f;
$lola: 			#dfcfdb;
$willow_brook: 	#dfecda;
$chartreuse_yellow: #dfff00;
$mauve: 		#e0b0ff;
$anzac: 		#e0b646;
$harvest_gold: 	#e0b974;
$calico: 		#e0c095;
$baby_blue: 	#e0ffff;
$sunglo: 		#e16865;
$equator: 		#e1bc64;
$pink_flare: 	#e1c0c8;
$periglacial_blue: 	#e1e6d6;
$kidnapper: 	#e1ead4;
$tara: 			#e1f6e8;
$mandy: 		#e25465;
$terracotta: 	#e2725b;
$golden_bell: 	#e28913;
$shocking: 		#e292c0;
$dixie: 		#e29418;
$light_orchid: 	#e29cd2;
$snuff: 		#e2d8ed;
$mystic: 		#e2ebed;
$apple_green: 	#e2f3ec;
$razzmatazz: 	#e30b5c;
$alizarin_crimson: 	#e32636;
$cinnabar: 		#e34234;
$cavern_pink: 	#e3bebe;
$peppermint: 	#e3f5e1;
$mindaro: 		#e3f988;
$deep_blush: 	#e47698;
$gamboge: 		#e49b0f;
$melanie: 		#e4c2d5;
$twilight: 		#e4cfde;
$bone: 			#e4d1c0;
$sunflower: 	#e4d422;
$grain_brown: 	#e4d5b7;
$zombie: 		#e4d69b;
$frostee: 		#e4f6e7;
$snow_flurry: 	#e4ffd1;
$amaranth: 		#e52b50;
$zest: 			#e5841b;
$dust_storm: 	#e5ccc9;
$stark_white: 	#e5d7bd;
$hampton: 		#e5d8af;
$bon_jour: 		#e5e0e1;
$mercury: 		#e5e5e5;
$polar: 		#e5f9f6;
$trinidad: 		#e64e03;
$gold_sand: 	#e6be8a;
$cashmere: 		#e6bea5;
$double_spanish_white: #e6d7b9;
$satin_linen: 	#e6e4d4;
$harp: 			#e6f2ea;
$off_green: 	#e6f8f3;
$hint_of_green: #e6ffe9;
$tranquil: 		#e6ffff;
$mango_tango: 	#e77200;
$christine: 	#e7730a;
$tonys_pink: 	#e79f8c;
$kobi: 			#e79fc4;
$rose_fog: 		#e7bcb4;
$corn: 			#e7bf05;
$putty: 		#e7cd8c;
$gray_nurse: 	#e7ece6;
$lily_white: 	#e7f8ff;
$bubbles: 		#e7feff;
$fire_bush: 	#e89928;
$shilo: 		#e8b9b3;
$pearl_bush: 	#e8e0d5;
$green_white: 	#e8ebe0;
$chrome_white: 	#e8f1d4;
$gin: 			#e8f2eb;
$aqua_squeeze: 	#e8f5f2;
$clementine: 	#e96e00;
$burnt_sienna: 	#e97451;
$tahiti_gold: 	#e97c07;
$oyster_pink: 	#e9cecd;
$confetti: 		#e9d75a;
$ebb: 			#e9e3e3;
$ottoman: 		#e9f8ed;
$clear_day: 	#e9fffd;
$carissma: 		#ea88a8;
$porsche: 		#eaae69;
$tulip_tree: 	#eab33b;
$rob_roy: 		#eac674;
$raffia: 		#eadab8;
$white_rock: 	#eae8d4;
$panache: 		#eaf6ee;
$solitude: 		#eaf6ff;
$aqua_spring: 	#eaf9f5;
$dew: 			#eafffe;
$apricot: 		#eb9373;
$zinnwaldite: 	#ebc2af;
$fuel_yellow: 	#eca927;
$ronchi: 		#ecc54e;
$french_lilac: 	#ecc7ee;
$just_right: 	#eccdb9;
$wild_rice: 	#ece090;
$fall_green: 	#ecebbd;
$aths_special: 	#ecebce;
$starship: 		#ecf245;
$red_ribbon: 	#ed0a3f;
$tango: 		#ed7a1c;
$carrot_orange: #ed9121;
$sea_pink: 		#ed989e;
$tacao: 		#edb381;
$desert_sand: 	#edc9af;
$pancho: 		#edcdab;
$chamois: 		#eddcb1;
$primrose: 		#edea99;
$frost: 		#edf5dd;
$aqua_haze: 	#edf5f5;
$zumthor: 		#edf6ff;
$narvik: 		#edf9f1;
$honeysuckle: 	#edfc84;
$lavender_magenta:	#ee82ee;
$beauty_bush: 	#eec1be;
$chalky: 		#eed794;
$almond: 		#eed9c4;
$flax: 			#eedc82;
$bizarre: 		#eededa;
$double_colonial_white: #eee3ad;
$cararra: 		#eeeee8;
$manz: 			#eeef78;
$tahuna_sands: 	#eef0c8;
$athens_gray: 	#eef0f3;
$tusk: 			#eef3c3;
$loafer: 		#eef4de;
$catskill_white: #eef6f7;
$twilight_blue: #eefdff;
$jonquil: 		#eeff9a;
$rice_flower: 	#eeffe2;
$jaffa: 		#ef863f;
$gallery: 		#efefef;
$porcelain: 	#eff2f3;
$mauvelous: 	#f091a9;
$golden_dream: 	#f0d52d;
$golden_sand: 	#f0db7d;
$buff: 			#f0dc82;
$prim: 			#f0e2ec;
$khaki: 		#f0e68c;
$selago: 		#f0eefd;
$titan_white: 	#f0eeff;
$alice_blue: 	#f0f8ff;
$feta: 			#f0fcea;
$gold_drop: 	#f18200;
$wewak: 		#f19bab;
$sahara_sand: 	#f1e788;
$parchment: 	#f1e9d2;
$blue_chalk: 	#f1e9ff;
$mint_julep: 	#f1eec1;
$seashell: 		#f1f1f1;
$saltpan: 		#f1f7f2;
$tidal: 		#f1ffad;
$chiffon: 		#f1ffc8;
$flamingo: 		#f2552a;
$tangerine: 	#f28500;
$mandys_pink: 	#f2c3b2;
$concrete: 		#f2f2f2;
$black_squeeze: #f2fafa;
$pomegranate: 	#f34723;
$buttercup: 	#f3ad16;
$new_orleans: 	#f3d69d;
$vanilla_ice: 	#f3d9df;
$sidecar: 		#f3e7bb;
$dawn_pink: 	#f3e9e5;
$wheatfield: 	#f3edcf;
$canary: 		#f3fb62;
$orinoco: 		#f3fbd4;
$carla: 		#f3ffd8;
$hollywood_cerise: 	#f400a1;
$sandy_brown: 	#f4a460;
$saffron: 		#f4c430;
$ripe_lemon: 	#f4d81c;
$janna: 		#f4ebd3;
$pampas: 		#f4f2ee;
$wild_sand: 	#f4f4f4;
$zircon: 		#f4f8ff;
$froly: 		#f57584;
$cream_can: 	#f5c85c;
$manhattan: 	#f5c999;
$maize: 		#f5d5a0;
$wheat: 		#f5deb3;
$sandwisp: 		#f5e7a2;
$pot_pourri:	#f5e7e2;
$albescent_white: #f5e9d3;
$soft_peach: 	#f5edef;
$ecru_white: 	#f5f3e5;
$beige: 		#f5f5dc;
$golden_fizz: 	#f5fb3d;
$australian_mint: #f5ffbe;
$french_rose: 	#f64a8a;
$brilliant_rose: #f653a6;
$illusion: 		#f6a4c9;
$merino: 		#f6f0e6;
$black_haze: 	#f6f7f7;
$spring_sun: 	#f6ffdc;
$violet_red: 	#f7468a;
$chilean_fire: 	#f77703;
$persian_pink: 	#f77fbe;
$rajah: 		#f7b668;
$azalea: 		#f7c8da;
$we_peep: 		#f7dbe6;
$quarter_spanish_white: #f7f2e1;
$whisper: 		#f7f5fa;
$snow_drift: 	#f7faf7;
$casablanca: 	#f8b853;
$chantilly: 	#f8c3df;
$cherub: 		#f8d9e9;
$marzipan: 		#f8db9d;
$energy_yellow: #f8dd5c;
$givry: 		#f8e4bf;
$white_linen: 	#f8f0e8;
$magnolia: 		#f8f4ff;
$spring_wood: 	#f8f6f1;
$coconut_cream: #f8f7dc;
$white_lilac: 	#f8f7fc;
$desert_storm: 	#f8f8f7;
$texas: 		#f8f99c;
$corn_field: 	#f8facd;
$mimosa: 		#f8fdd3;
$carnation: 	#f95a61;
$saffron_mango: #f9bf58;
$carousel_pink: #f9e0ed;
$dairy_cream: 	#f9e4bc;
$portica: 		#f9e663;
$underage_pink: #f9e6f4;
$amour: 		#f9eaf3;
$rum_swizzle: 	#f9f8e4;
$dolly: 		#f9ff8b;
$sugar_cane: 	#f9fff6;
$ecstasy: 		#fa7814;
$tan_hide: 		#fa9d5a;
$corvette: 		#fad3a2;
$peach_yellow: 	#fadfad;
$turbo: 		#fae600;
$astra: 		#faeab9;
$champagne: 	#faeccc;
$linen: 		#faf0e6;
$fantasy: 		#faf3f0;
$citrine_white: #faf7d6;
$alabaster: 	#fafafa;
$hint_of_yellow: #fafde4;
$milan: 		#faffa4;
$brink_pink: 	#fb607f;
$geraldine: 	#fb8989;
$lavender_rose: #fba0e3;
$sea_buckthorn: #fba129;
$sun: 			#fbac13;
$lavender_pink: #fbaed2;
$rose_bud: 		#fbb2a3;
$cupid: 		#fbbeda;
$classic_rose: 	#fbcce7;
$apricot_peach: #fbceb1;
$banana_mania: 	#fbe7b2;
$marigold_yellow: #fbe870;
$festival: 		#fbe96c;
$sweet_corn: 	#fbea8c;
$candy_corn: 	#fbec5d;
$hint_of_red: 	#fbf9f9;
$shalimar: 		#fbffba;
$shocking_pink: #fc0fc0;
$tickle_me_pink: #fc80a5;
$tree_poppy: 	#fc9c1d;
$lightning_yellow: #fcc01e;
$goldenrod: 	#fcd667;
$candlelight: 	#fcd917;
$cherokee: 		#fcda98;
$double_pearl_lusta: #fcf4d0;
$pearl_lusta: 	#fcf4dc;
$vista_white: 	#fcf8f7;
$bianca: 		#fcfbf3;
$moon_glow: 	#fcfeda;
$china_ivory: 	#fcffe7;
$ceramic: 		#fcfff9;
$torch_red: 	#fd0e35;
$wild_watermelon: #fd5b78;
$crusta: 		#fd7b33;
$sorbus: 		#fd7c07;
$sweet_pink: 	#fd9fa2;
$light_apricot: #fdd5b1;
$pig_pink: 		#fdd7e4;
$cinderella: 	#fde1dc;
$golden_glow: 	#fde295;
$lemon: 		#fde910;
$old_lace: 		#fdf5e6;
$half_colonial_white: #fdf6d3;
$drover: 		#fdf7ad;
$pale_prim: 	#fdfeb8;
$cumulus: 		#fdffd5;
$persian_rose: 	#fe28a2;
$sunset_orange: #fe4c40;
$bittersweet: 	#fe6f5e;
$california: 	#fe9d04;
$yellow_sea: 	#fea904;
$melon: 		#febaad;
$bright_sun: 	#fed33c;
$dandelion: 	#fed85d;
$salomie: 		#fedb8d;
$cape_honey: 	#fee5ac;
$remy: 			#feebf3;
$oasis: 		#feefce;
$bridesmaid: 	#fef0ec;
$beeswax: 		#fef2c7;
$bleach_white: 	#fef3d8;
$pipi: 			#fef4cc;
$half_spanish_white: #fef4db;
$wisp_pink:		#fef4f8;
$provincial_pink: #fef5f1;
$half_dutch_white: #fef7de;
$solitaire: 	#fef8e2;
$white_pointer: #fef8ff;
$off_yellow: 	#fef9e3;
$orange_white: 	#fefced;
$red: 			#ff0000;
$rose: 			#ff007f;
$purple_pizzazz: #ff00cc;
$magenta_fuchsia:	#ff00ff;
$scarlet: 		#ff2400;
$wild_strawberry: #ff3399;
$razzle_dazzle_rose: #ff33cc;
$radical_red: 	#ff355e;
$red_orange: 	#ff3f34;
$coral_red: 	#ff4040;
$vermilion: 	#ff4d00;
$international_orange: #ff4f00;
$outrageous_orange:	#ff6037;
$blaze_orange: 	#ff6600;
$pink_flamingo: #ff66ff;
$orange: 		#ff681f;
$hot_pink: 		#ff69b4;
$persimmon: 	#ff6b53;
$blush_pink: 	#ff6fff;
$burning_orange: #ff7034;
$pumpkin: 		#ff7518;
$flamenco: 		#ff7d07;
$flush_orange: 	#ff7f00;
$coral: 		#ff7f50;
$salmon: 		#ff8c69;
$pizazz: 		#ff9000;
$west_side: 	#ff910f;
$pink_salmon: 	#ff91a4;
$neon_carrot: 	#ff9933;
$atomic_tangerine:#ff9966;
$vivid_tangerine: #ff9980;
$sunshade: 		#ff9e2c;
$orange_peel: 	#ffa000;
$mona_lisa: 	#ffa194;
$web_orange: 	#ffa500;
$carnation_pink: #ffa6c9;
$hit_pink: 		#ffab81;
$yellow_orange: #ffae42;
$cornflower_lilac: #ffb0ac;
$sundown: 		#ffb1b3;
$my_sin: 		#ffb31f;
$texas_rose: 	#ffb555;
$cotton_candy: 	#ffb7d5;
$macaroni_and_cheese: #ffb97b;
$selective_yellow: #ffba00;
$koromiko: 		#ffbd5f;
$amber: 		#ffbf00;
$wax_flower: 	#ffc0a8;
$pink: 			#ffc0cb;
$your_pink: 	#ffc3c0;
$supernova: 	#ffc901;
$flesh: 		#ffcba4;
$sunglow: 		#ffcc33;
$golden_tainoi: #ffcc5c;
$peach_orange: 	#ffcc99;
$chardonnay: 	#ffcd8c;
$pastel_pink: 	#ffd1dc;
$romantic: 		#ffd2b7;
$grandis: 		#ffd38c;
$gold: 			#ffd700;
$school_bus_yellow: #ffd800;
$cosmos: 		#ffd8d9;
$mustard: 		#ffdb58;
$peach_schnapps: #ffdcd6;
$caramel: 		#ffddaf;
$tuft_bush: 	#ffddcd;
$watusi: 		#ffddcf;
$pink_lace: 	#ffddf4;
$navajo_white: 	#ffdead;
$frangipani: 	#ffdeb3;
$pippin: 		#ffe1df;
$pale_rose: 	#ffe1f2;
$negroni: 		#ffe2c5;
$cream_brulee: 	#ffe5a0;
$peach: 		#ffe5b4;
$tequila: 		#ffe6c7;
$kournikova: 	#ffe772;
$sandy_beach: 	#ffeac8;
$karry: 		#ffead4;
$broom: 		#ffec13;
$colonial_white: #ffedbc;
$derby: 		#ffeed8;
$vis_vis: 		#ffefa1;
$egg_white: 	#ffefc1;
$papaya_whip: 	#ffefd5;
$fair_pink: 	#ffefec;
$peach_cream: 	#fff0db;
$lavender_blush: #fff0f5;
$gorse: 		#fff14f;
$buttermilk: 	#fff1b5;
$pink_lady: 	#fff1d8;
$forget_me_not: #fff1ee;
$tutu: 			#fff1f9;
$picasso: 		#fff39d;
$chardon: 		#fff3f1;
$paris_daisy: 	#fff46e;
$barley_white: 	#fff4ce;
$egg_sour: 		#fff4dd;
$sazerac: 		#fff4e0;
$serenade: 		#fff4e8;
$chablis: 		#fff4f3;
$seashell_peach: #fff5ee;
$sauvignon: 	#fff5f3;
$milk_punch: 	#fff6d4;
$varden: 		#fff6df;
$rose_white: 	#fff6f5;
$baja_white: 	#fff8d1;
$gin_fizz: 		#fff9e2;
$early_dawn: 	#fff9e6;
$lemon_chiffon: #fffacd;
$bridal_heath: 	#fffaf4;
$scotch_mist: 	#fffbdc;
$soapstone: 	#fffbf9;
$witch_haze: 	#fffc99;
$buttery_white: #fffcea;
$island_spice: 	#fffcee;
$cream: 		#fffdd0;
$chilean_heath: #fffde6;
$travertine: 	#fffde8;
$orchid_white: 	#fffdf3;
$quarter_pearl_lusta: #fffdf4;
$half_and_half: #fffee1;
$apricot_white: #fffeec;
$rice_cake: 	#fffef0;
$black_white: 	#fffef6;
$romance: 		#fffefd;
$yellow: 		#ffff00;
$laser_lemon: 	#ffff66;
$pale_canary: 	#ffff99;
$portafino: 	#ffffb4;
$ivory: 		#fffff0;
$white: 		#ffffff;