/************************
******   HR    *******
**** Version: 0.0.1 *****
*************************/

/* Horizontal Rules
--------------------------------------------------*/

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: .625em 0 1.875em;
  height: 0;
}