/************************
******   Links    *******
**** Version: 0.0.1 *****
*************************/

a {
  color: $black-70;
  text-decoration: none;
  outline: 0;
  &:visited {
    color: $black-70;
    text-decoration: underline;
    outline: 0;
  }
  @include hoverActiveFocus(color, $link-color-hover);
}
